{% extends "interior/dashboard/dashboard_form.html" %}

{% block title %}
  <title>One CV, Many Roles | CVhire</title>
  <meta name="description" content="CVhire">
  <meta name="og:description" content="CVhire">
{% endblock %}

<!-- ------------------------------------- google ads: global site tag start ------------------------------------- -->
<!-- From email subject: "support@cvhire.com sent you a conversion tracking tag" -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=AW-10937231585"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'AW-10937231585');
</script> -->
<!-- ------------------------------------- google ads: global site tag end ------------------------------------- -->
<!-- ------------------------------------- google ads conversion gtag start ------------------------------------- -->
<!-- Google tag (gtag.js) event -->
<script>
  gtag('event', 'manual_conversion_SIGNUP', {
    // <event_parameters>
  });
</script>
<!-- ------------------------------------- google ads conversion gtag end ------------------------------------- -->

<!-- ------------------------------------- google tag manager start ------------------------------------- -->
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WRFC942M"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- ------------------------------------- google tag manager end ------------------------------------- -->

{% block contentBodyDashboard %}
{% endblock %}