{% extends "navbar/exterior.html" %}

{% block title %}
  <title>Sign up | CVhire</title>
  <meta name="description" content="CVhire">
  <meta name="og:description" content="CVhire">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- alert start ----------------------------------- -->
{% if page_dict_html['alert_message_dict']['message'] != '' %}
<div class="alert alert-{{ page_dict_html['alert_message_dict']['type'] }} mx-auto text-center container-fluid" role="alert">
  {{ page_dict_html['alert_message_dict']['message'] }}
</div>
{% endif %}
<!-- ----------------------------------- alert end ----------------------------------- -->
<div class="custom-bg-tilted-1">
  <div class="custom-bg-solid-1"></div>
  <div class="custom-bg-obj-2"></div>
  <div class="custom-bg-obj-1"></div>
  <div class="custom-bg-obj-3"></div>
</div>
<div class="custom-display-flex custom-width-1100 mx-auto custom-pt-100">
  <!-- ----------------------------------- display 1 start ----------------------------------- -->
  <div class="custom-display-block custom-width-50 custom-p-50">
    <div class="custom-mb-25">
      <h2>CVhire</h2>
    </div>
    <!-- ----------------------------------- section start ----------------------------------- -->
    <div class="custom-display-flex custom-mb-25">
      <div class="custom-display-block">
        <i class="fa-solid fa-circle-check custom-mt-7 custom-color-success"></i>
      </div>
      <div class="custom-display-block custom-ml-10">
        <p class="custom-m-0 custom-header-20">Get started quickly</p>
        <p class="custom-m-0 custom-header-15">Integrate with developer-friendly APIs or choose low-code or pre-built solutions.</p>
      </div>
    </div>
    <!-- ----------------------------------- section end ----------------------------------- -->
    <!-- ----------------------------------- section start ----------------------------------- -->
    <div class="custom-display-flex custom-mb-25">
      <div class="custom-display-block">
        <i class="fa-solid fa-circle-check custom-mt-7 custom-color-success"></i>
      </div>
      <div class="custom-display-block custom-ml-10">
        <p class="custom-m-0 custom-header-20">Support any business model</p>
        <p class="custom-m-0 custom-header-15">E-commerce, subscriptions, SaaS platforms, marketplaces, and more—all within a unified platform.</p>
      </div>
    </div>
    <!-- ----------------------------------- section end ----------------------------------- -->
    <!-- ----------------------------------- section start ----------------------------------- -->
    <div class="custom-display-flex custom-mb-25">
      <div class="custom-display-block">
        <i class="fa-solid fa-circle-check custom-mt-7 custom-color-success"></i>
      </div>
      <div class="custom-display-block custom-ml-10">
        <p class="custom-m-0 custom-header-20">Join millions of businesses</p>
        <p class="custom-m-0 custom-header-15">Stripe is trusted by ambitious startups and enterprises of every size.</p>
      </div>
    </div>
    <!-- ----------------------------------- section end ----------------------------------- -->
  </div>
  <!-- ----------------------------------- display 1 end ----------------------------------- -->
  <!-- ----------------------------------- display 2 start ----------------------------------- -->
  <div class="custom-display-block custom-width-50 custom-p-50 custom-br-15 shadow outline custom-bg-white custom-index-1">
    <div class="custom-mb-50">
      <h3 class="fw-bolder">Create your CVhire account</h3>
    </div>
    <form method="POST" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
      <div class="form-group custom-mb-50">
        <label for="uiEmail">Email</label>
        <input type="email" class="form-control custom-mt-10" id="uiEmail" name="uiEmail" aria-describedby="emailHelp" required>
      </div>
      <div class="form-group custom-mb-50">
        <label for="uiFullName">Full name</label>
        <input type="text" class="form-control custom-mt-10" id="uiFullName" name="uiFullName" required>
      </div>
      <div class="form-group custom-mb-50">
        <label for="uiPassword">Password</label>
        <input type="password" class="form-control custom-mt-10" id="uiPassword" name="uiPassword" title="Minimum 4 characters" required>
      </div>
      <button type="submit" class="btn btn-primary btn-lg custom-width-100">Get started</button>
    </form>
    <div class="text-center custom-mt-25">
      <p>Have an account? <a href="/login" class="custom-a-black-underline custom-underline-1">Sign in</a></p>
    </div>
  </div>
  <!-- ----------------------------------- display 2 start ----------------------------------- -->
</div>
{% endblock %}