{% extends "interior/roles/index.html" %}

{% block title %}
  <title>Open roles | CVhire</title>
  <meta name="description" content="CVhire">
  <meta name="og:description" content="CVhire">
{% endblock %}

{% block contentBodyRoles %}
<div class="custom-width-interior-1100 mx-auto custom-plr-50">
  <!-- ------------------------------------- options start ------------------------------------- -->
  <div class="custom-header-18">
    <p class="custom-m-0">Open</p>
  </div>
  <!-- ------------------------------------- options end ------------------------------------- -->
</div>
{% endblock %}