{% extends "navbar/exterior.html" %}

{% block title %}
  <title>Pricing | CVhire</title>
  <meta name="description" content="CVhire is an automated CV screening and resume parser for recruiters and HR teams. AI recruiting made simple.">
  <meta name="og:description" content="CVhire is an automated CV screening and resume parser for recruiters and HR teams. AI recruiting made simple.">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- ------------------------------------- content start ------------------------------------- -->
<div class="css-width-1100-only mx-auto">
  <div class="css-header-15 css-mt-25 css-mb-100">
    <!-- ------------------------------------- title start ------------------------------------- -->
    <div class="css-ptb-50 css-display-flex css-jc-between">
      <div>
        <h2 class="css-m-0 css-header-40">Pricing</h2>
      </div>
      <!-- ------------------------------------- radio start ------------------------------------- -->
      <div class="css-ml-15">
        <input type="radio" class="btn-check" name="radioSubscriptionOption" id="radioMonthly" value="monthly" autocomplete="off">
        <label class="btn css-ptb-15" for="radioMonthly">Monthly</label>
        <input type="radio" class="btn-check" name="radioSubscriptionOption" id="radioYearly" value="yearly" autocomplete="off" checked>
        <label class="btn" for="radioYearly"><div>Yearly</div><div class="css-header-12">(Save +50%)</div></label>
      </div>
      <!-- ------------------------------------- radio end ------------------------------------- -->
    </div>
    <!-- ------------------------------------- title end ------------------------------------- -->
    <!-- ------------------------------------- content start ------------------------------------- -->
    <div class="css-display-grid css-grid-1row-3col">
      <!-- ------------------------------------- column start ------------------------------------- -->
      <div>
        <!-- ------------------------------------- title start ------------------------------------- -->
        <div class="text-center css-p-10 border-bottom border-top css-bg-primary-lighter css-br-25-specific-top-left">
          <p class="css-m-0 css-header-25 css-mb-5 css-weight-bolder">Features</p>
          <p class="css-m-0 css-header-25 css-weight-bolder">by plan</p>
        </div>
        <!-- ------------------------------------- title end ------------------------------------- -->
        <!-- ------------------------------------- legs start ------------------------------------- -->
        <div class="border-bottom css-ptb-25 border-top">
          <p class="css-m-0 css-header-18">Add job descriptions</p>
        </div>
        <div class="border-bottom css-ptb-25">
          <p class="css-m-0 css-header-18">Add candidate CV's</p>
        </div>
        <div class="border-bottom css-ptb-25">
          <p class="css-m-0 css-header-18">AI grading CV's</p>
        </div>
        <div class="border-bottom css-ptb-25">
          <p class="css-m-0 css-header-18">Resume parsing</p>
        </div>
        <div class="border-bottom css-ptb-25">
          <p class="css-m-0 css-header-18">Candidate job matching</p>
        </div>
        <div class="border-bottom css-ptb-25">
          <p class="css-m-0 css-header-18">AI ask about CV's</p>
        </div>
        <div class="border-bottom css-ptb-25">
          <p class="css-m-0 css-header-18">AI recommended follow up questions</p>
        </div>
        <div class="border-bottom css-ptb-25">
          <p class="css-m-0 css-header-18">Generate job descriptions with AI</p>
        </div>
        <div class="border-bottom css-ptb-25">
          <p class="css-m-0 css-header-18">AI insights</p>
        </div>
        <div class="border-bottom css-ptb-25">
          <p class="css-m-0 css-header-18">Customize grading</p>
        </div>
        <div class="border-bottom css-ptb-25">
          <p class="css-m-0 css-header-18">Customize summary</p>
        </div>
        <div class="border-bottom css-ptb-25">
          <p class="css-m-0 css-header-18">Customize follow up questions</p>
        </div>
        <div class="border-bottom css-ptb-25">
          <p class="css-m-0 css-header-18">Export results</p>
        </div>
        <div class="border-bottom css-ptb-25">
          <p class="css-m-0 css-header-18">Company branding</p>
        </div>
        <!-- ------------------------------------- legs end ------------------------------------- -->
      </div>
      <!-- ------------------------------------- column end ------------------------------------- -->
      <!-- ------------------------------------- column start ------------------------------------- -->
      <div>
        <!-- ------------------------------------- title start ------------------------------------- -->
        <div class="text-center css-p-10 border-bottom border-top css-bg-primary-lighter">
          <p class="css-m-0 css-header-25 css-mb-5 css-weight-bolder">Free</p>
          <p class="css-m-0 css-header-25 css-weight-bolder">$0 <span class="css-opacity-50 css-header-12">/mo</span></p>
        </div>
        <!-- ------------------------------------- title end ------------------------------------- -->
        <!-- ------------------------------------- legs start ------------------------------------- -->
        <div class="border-bottom css-ptb-25 text-center border-top">
          <p class="css-m-0 css-header-18 css-opacity-50">5</p>
        </div>
        <div class="border-bottom css-ptb-25 text-center">
          <p class="css-m-0 css-header-18 css-opacity-50">5</p>
        </div>
        <div class="border-bottom css-ptb-25 text-center">
          <p class="css-m-0 css-header-18 css-opacity-50">25</p>
        </div>
        <div class="border-bottom css-ptb-25 text-center">
          <p class="css-m-0 css-header-18 css-opacity-50">5</p>
        </div>
        <div class="border-bottom css-ptb-25 text-center">
          <p class="css-m-0 css-header-18 css-opacity-50">5</p>
        </div>
        <div class="border-bottom css-ptb-25 text-center">
          <p class="css-m-0 css-header-18 css-opacity-50">5</p>
        </div>
        <div class="border-bottom css-ptb-25 text-center">
          <p class="css-m-0 css-header-18 css-opacity-50">1</p>
        </div>
        <div class="border-bottom css-ptb-25 text-center">
          <p class="css-m-0 css-header-18 css-opacity-50">3</p>
        </div>
        <div class="border-bottom css-ptb-25 text-center">
          <p class="css-m-0 css-header-18 css-opacity-50"><i class="fa-solid fa-minus"></i></p>
        </div>
        <div class="border-bottom css-ptb-25 text-center">
          <p class="css-m-0 css-header-18 css-opacity-50"><i class="fa-solid fa-minus"></i></p>
        </div>
        <div class="border-bottom css-ptb-25 text-center">
          <p class="css-m-0 css-header-18 css-opacity-50"><i class="fa-solid fa-minus"></i></p>
        </div>
        <div class="border-bottom css-ptb-25 text-center">
          <p class="css-m-0 css-header-18 css-opacity-50"><i class="fa-solid fa-minus"></i></p>
        </div>
        <div class="border-bottom css-ptb-25 text-center">
          <p class="css-m-0 css-header-18 css-opacity-50"><i class="fa-solid fa-minus"></i></p>
        </div>
        <div class="border-bottom css-ptb-25 text-center">
          <p class="css-m-0 css-header-18 css-opacity-50"><i class="fa-solid fa-minus"></i></p>
        </div>
        <!-- ------------------------------------- legs end ------------------------------------- -->
      </div>
      <!-- ------------------------------------- column end ------------------------------------- -->
      <!-- ------------------------------------- column start ------------------------------------- -->
      <div>
        <!-- ------------------------------------- title start ------------------------------------- -->
        <div class="text-center css-p-10 border-bottom border-top css-bg-primary-lighter css-br-25-specific-top-right">
          <p class="css-m-0 css-header-25 css-mb-5 css-weight-bolder">Premium</p>
          <p class="css-m-0 css-header-25 css-weight-bolder uiSearchItemInvisible" id="id-monthly_price">$19 <span class="css-opacity-50 css-header-12">/mo</span></p>
          <p class="css-m-0 css-header-25 css-weight-bolder uiSearchItemVisible" id="id-yearly_price">$9 <span class="css-opacity-50 css-header-12">/mo</span></p>
        </div>
        <!-- ------------------------------------- title end ------------------------------------- -->
        <!-- ------------------------------------- legs start ------------------------------------- -->
        <div class="border-bottom css-ptb-25 text-center border-top">
          <p class="css-m-0 css-header-18 css-color-success">Unlimited</p>
        </div>
        <div class="border-bottom css-ptb-25 text-center">
          <p class="css-m-0 css-header-18 css-color-success">Unlimited</p>
        </div>
        <div class="border-bottom css-ptb-25 text-center">
          <p class="css-m-0 css-header-18 css-color-success">Unlimited</p>
        </div>
        <div class="border-bottom css-ptb-25 text-center">
          <p class="css-m-0 css-header-18 css-color-success">Unlimited</p>
        </div>
        <div class="border-bottom css-ptb-25 text-center">
          <p class="css-m-0 css-header-18 css-color-success">Unlimited</p>
        </div>
        <div class="border-bottom css-ptb-25 text-center">
          <p class="css-m-0 css-header-18 css-color-success">Unlimited</p>
        </div>
        <div class="border-bottom css-ptb-25 text-center">
          <p class="css-m-0 css-header-18 css-color-success">Unlimited</p>
        </div>
        <div class="border-bottom css-ptb-25 text-center">
          <p class="css-m-0 css-header-18 css-color-success">Unlimited</p>
        </div>
        <div class="border-bottom css-ptb-25 text-center">
          <p class="css-m-0 css-header-18 css-color-success"><i class="fa-solid fa-circle-check"></i></p>
        </div>
        <div class="border-bottom css-ptb-25 text-center">
          <p class="css-m-0 css-header-18 css-color-success"><i class="fa-solid fa-circle-check"></i></p>
        </div>
        <div class="border-bottom css-ptb-25 text-center">
          <p class="css-m-0 css-header-18 css-color-success"><i class="fa-solid fa-circle-check"></i></p>
        </div>
        <div class="border-bottom css-ptb-25 text-center">
          <p class="css-m-0 css-header-18 css-color-success"><i class="fa-solid fa-circle-check"></i></p>
        </div>
        <div class="border-bottom css-ptb-25 text-center">
          <p class="css-m-0 css-header-18 css-color-success"><i class="fa-solid fa-circle-check"></i></p>
        </div>
        <div class="border-bottom css-ptb-25 text-center">
          <p class="css-m-0 css-header-18 css-color-success"><i class="fa-solid fa-circle-check"></i></p>
        </div>
        <!-- ------------------------------------- legs end ------------------------------------- -->
      </div>
      <!-- ------------------------------------- column end ------------------------------------- -->
    </div>
    <!-- ------------------------------------- content end ------------------------------------- -->
    <!-- ------------------------------------- buttons start ------------------------------------- -->
    <div class="text-center css-mt-75">
      <a href="/signup" class="css-weight-bolder css-a-primary-underline-on-hover css-header-30">Get started</a>
    </div>
    <!-- ------------------------------------- buttons end ------------------------------------- -->
    <!-- ------------------------------------- view end ------------------------------------- -->
  </div>
</div>
<!-- ------------------------------------- content end ------------------------------------- -->
{% endblock %}