{% extends "navbar/exterior.html" %}

{% block title %}
  <title>Blog | CVhire</title>
  <meta name="description" content="CVhire is an automated CV screening and resume parser for recruiters and HR teams. AI recruiting made simple.">
  <meta name="og:description" content="CVhire is an automated CV screening and resume parser for recruiters and HR teams. AI recruiting made simple.">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- alert start ----------------------------------- -->
{% if page_dict_html['alert_message_dict']['message'] != '' %}
<div class="alert alert-{{ page_dict_html['alert_message_dict']['type'] }} mx-auto text-center container-fluid" role="alert">
  {{ page_dict_html['alert_message_dict']['message'] }}
</div>
{% endif %}
<!-- ----------------------------------- alert end ----------------------------------- -->
<!-- ----------------------------------- content start ----------------------------------- -->
<div class="css-width-1100 mx-auto">
  <!-- ----------------------------------- title start ----------------------------------- -->
  <div class="css-mt-50 css-mb-25">
    {% if page_dict_html['category_specific'] == True %}
      <div class="css-display-flex css-jc-between">
        <h1 class="css-header-30">Blog | {{ page_dict_html['category_title'] }}</h1>
        <a href="/blog" class="btn btn-outline-secondary my-auto">Back</a>
      </div>
    {% else %}
      <h1 class="css-header-30">Blog</h1>
    {% endif %}
  </div>
  <!-- ----------------------------------- title end ----------------------------------- -->
  <!-- ----------------------------------- all posts start ----------------------------------- -->
  <div class="css-mb-100 css-display-flex css-jc-between-mobile-center css-f-wrap css-gap-50">
    {% for i_post in page_dict_html['db_arr_dicts'] %}
      <div class="css-width-300 border shadow css-bg-white">
        <!-- ----------------------------------- img start ----------------------------------- -->
        <div>
          <a href="/blog/{{ i_post['slug'] }}"><img src="{{ i_post['image_url'] }}" alt="blog photo" class="css-img-height-200 css-width-100"></a>
        </div>
        <!-- ----------------------------------- img end ----------------------------------- -->
        <!-- ----------------------------------- words start ----------------------------------- -->
        <div class="css-p-10">
          <!-- ----------------------------------- title and details start ----------------------------------- -->
          <div class="css-mb-15">
            <h2 class="css-m-0 css-header-20 css-mt-15"><a href="/blog/{{ i_post['slug'] }}" class="css-a-black-underline">{{ i_post['title_read'] }}</a></h2>
            <p class="css-m-0 css-header-12 css-opacity-50 css-mt-15">{{ i_post['details'] }}</p>
          </div>
          <!-- ----------------------------------- title and details end ----------------------------------- -->
          <!-- ----------------------------------- authored start ----------------------------------- -->
          <div class="css-display-flex">
            <div>
              <a href="{{ i_post['author_social_url'] }}" target="_blank"><img src="{{ i_post['author_img_url'] }}" alt="author profile img" class="css-img-height-20 css-mr-5 css-mt-negative-5"></a>
            </div>
            <a href="{{ i_post['author_social_url'] }}" target="_blank" class="css-a-black-underline css-m-0 css-header-15 css-opacity-50 css-mr-15">{{ i_post['author'] }}</a>
            <a href="/blog/{{ i_post['slug'] }}" class="css-a-black-underline css-m-0 css-header-15 css-opacity-50"><i class="fa-regular fa-calendar css-mr-5"></i> {{ i_post['created_timestamp_read'] }}</a>
          </div>
          <!-- ----------------------------------- authored end ----------------------------------- -->
          <!-- ----------------------------------- keywords start ----------------------------------- -->
          <div class="css-display-flex css-f-wrap css-mt-10 css-mb-10">
            {% for k_keyword, v_keyword in i_post['keywords_read_dict'].items() %}
              <a href="/blog/category/{{ v_keyword['url'] }}" class="css-underline-none"><p class="css-f-nowrap-important css-m-0 css-header-8 css-br-15 css-mr-5 css-mt-5 css-plr-10 css-ptb-5 {{ v_keyword['html-bg-color'] }} {{ v_keyword['html-text-color'] }}">{{ k_keyword }}</p></a>
            {% endfor %}
          </div>
          <!-- ----------------------------------- keywords end ----------------------------------- -->
        </div>
      </div>
      <!-- ----------------------------------- words end ----------------------------------- -->
    {% endfor %}
  </div>
  <!-- ----------------------------------- all posts end ----------------------------------- -->
</div>
<!-- ----------------------------------- content end ----------------------------------- -->
{% endblock %}