{% extends "navbar/exterior.html" %}

{% block title %}
  <title>Login | CVhire</title>
  <meta name="description" content="CVhire is an automated CV screening and resume parser for recruiters and HR teams. AI recruiting made simple.">
  <meta name="og:description" content="CVhire is an automated CV screening and resume parser for recruiters and HR teams. AI recruiting made simple.">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- alert start ----------------------------------- -->
{% if page_dict_html['alert_message_dict']['message'] != '' %}
<div class="alert alert-{{ page_dict_html['alert_message_dict']['type'] }} mx-auto text-center container-fluid" role="alert">
  {{ page_dict_html['alert_message_dict']['message'] }}
</div>
{% endif %}
<!-- ----------------------------------- alert end ----------------------------------- -->
<!-- ----------------------------------- content start ----------------------------------- -->
<div class="custom-width-900 mx-auto custom-border-2">
  <!-- ----------------------------------- title start ----------------------------------- -->
  <div class="custom-mt-50">
    <h2>Blog</h2>
  </div>
  <!-- ----------------------------------- title end ----------------------------------- -->
</div>
<!-- ----------------------------------- content end ----------------------------------- -->
{% endblock %}