{% extends "navbar/exterior.html" %}

{% block title %}
  <title>Locked | CvHire</title>
  <meta name="description" content="CvHire">
  <meta name="og:description" content="CvHire">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- alert start ----------------------------------- -->
{% if page_dict_html['alert_message_dict']['message'] != '' %}
<div class="alert alert-{{ page_dict_html['alert_message_dict']['type'] }} mx-auto text-center container-fluid" role="alert">
  {{ page_dict_html['alert_message_dict']['message'] }}
</div>
{% endif %}
<!-- ----------------------------------- alert end ----------------------------------- -->
Your account is locked
{% endblock %}