{% extends "navbar/exterior.html" %}

{% block title %}
  <title>Home | CVhire</title>
  <meta name="description" content="CVhire is an automated CV screening and resume parser for recruiters and HR teams. AI recruiting made simple.">
  <meta name="og:description" content="CVhire is an automated CV screening and resume parser for recruiters and HR teams. AI recruiting made simple.">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- ------------------------------------- content start ------------------------------------- -->
<div class="custom-width-1200 mx-auto">
  <!-- ------------------------------------- background image start ------------------------------------- -->
  <div class="custom-bg-tilted-2">
    <div class="custom-bg-solid-2"></div>
  </div>
  <div class="custom-bg-tilted-3">
    <div class="custom-bg-solid-3"></div>
  </div>
  <!-- ------------------------------------- background image end ------------------------------------- -->
  <!-- ------------------------------------- title start ------------------------------------- -->
  <div class="custom-pt-75 text-center">
    <h1 class="custom-header-40-mobile custom-weight-bolder">CV screening with AI. Fast and free.</h1>
    <h2 class="custom-header-25-mobile custom-mt-20">Save hours sifting through resumes.</h2>
  </div>
  <!-- ------------------------------------- title end ------------------------------------- -->
  <!-- ------------------------------------- buttons start ------------------------------------- -->
  <div class="text-center custom-mt-30">
    <a href="/login" class="btn btn-outline-success btn-lg custom-mr-10 custom-plr-40">Login</a>
    <a href="/signup" class="btn btn-primary btn-lg custom-ml-10">Get started</a>
  </div>
  <!-- ------------------------------------- buttons end ------------------------------------- -->
  <!-- ------------------------------------- graphic start ------------------------------------- -->
  <div class="custom-mt-50 custom-mobile-view-1">
    <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/intro_graphic_v1.png" alt="graphic" class="custom-width-100">
  </div>
  <div class="custom-mt-50 custom-mobile-view-2 text-center">
    <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/intro_graphic_v2.png" alt="graphic" class="custom-img-height-500">
  </div>
  <!-- ------------------------------------- graphic end ------------------------------------- -->
  <!-- ------------------------------------- words start ------------------------------------- -->
  <div class="custom-ptb-100 text-center">
    <p class="custom-header-40-mobile custom-weight-bolder custom-m-0">Whatever your use case, we’ve got you covered.</p>
  </div>
  <!-- ------------------------------------- words end ------------------------------------- -->
  <!-- ------------------------------------- side by side start ------------------------------------- -->
  <div class="custom-display-flex custom-display-flex-row-to-column-mobile custom-gap-25">
    <div class="custom-width-100 my-auto custom-ptb-25">
      <h2 class="custom-header-30-mobile custom-weight-bolder">Screen one role against many CV's</h2>
      <p class="custom-header-20-mobile custom-mt-25">Swiftly evaluate multiple candidates for a single role, pinpointing the top-tier talent in seconds.</p>
      <a href="/signup" class="btn btn-primary btn-lg custom-mt-25">Get started</a>
    </div>
    <div class="text-center custom-width-100">
      <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/graphic_v2.png" alt="" class="custom-width-100-mobile custom-p-50-mobile">
    </div>
  </div>
  <!-- ------------------------------------- side by side end ------------------------------------- -->
  <!-- ------------------------------------- side by side start ------------------------------------- -->
  <div class="custom-display-flex custom-display-flex-row-to-column-mobile custom-mt-50 custom-gap-25">
    <div class="custom-width-100 my-auto custom-ptb-25">
      <h2 class="custom-header-30-mobile custom-weight-bolder">Screen one CV against many roles</h2>
      <p class="custom-header-20-mobile custom-mt-25">Effortlessly compare a candidate's CV against multiple company roles, identifying the optimal position for a candidate within your organization.</p>
      <a href="/signup" class="btn btn-success btn-lg custom-mt-25">Learn more</a>
    </div>
    <div class="text-center custom-width-100">
      <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/graphic_v3.png" alt="" class="custom-width-100-mobile custom-p-50-mobile">
    </div>
  </div>
  <!-- ------------------------------------- side by side end ------------------------------------- -->
  <!-- ------------------------------------- side by side start ------------------------------------- -->
  <div class="custom-display-flex custom-display-flex-row-to-column-mobile custom-mt-50 custom-gap-25">
    <div class="custom-width-100 my-auto custom-ptb-25">
      <h2 class="custom-header-30-mobile custom-weight-bolder">Ask AI anything about a CV</h2>
      <p class="custom-header-20-mobile custom-mt-25">Harness CVhire's advanced AI technology to pose any query regarding a candidate's CV. Whether you're seeking insights into their prime strengths or a concise summary of their resume, our system delivers precise answers.</p>
      <a href="/signup" class="btn btn-primary btn-lg custom-mt-25">Try now</a>
    </div>
    <div class="text-center custom-width-100">
      <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/graphic_v4.png" alt="" class="custom-width-100-mobile custom-p-50-mobile">
    </div>
  </div>
  <!-- ------------------------------------- side by side end ------------------------------------- -->
  <!-- ------------------------------------- side by side start ------------------------------------- -->
  <div class="custom-display-flex custom-display-flex-row-to-column-mobile custom-mt-50 custom-gap-25">
    <div class="custom-width-100 my-auto custom-ptb-25">
      <h2 class="custom-header-30-mobile custom-weight-bolder">Export all AI results</h2>
      <p class="custom-header-20-mobile custom-mt-25">Seamlessly export AI findings to Excel, Google Sheets, Zapier, and more.</p>
      <a href="/signup" class="btn btn-success btn-lg custom-mt-25">Get started</a>
    </div>
    <div class="text-center custom-width-100">
      <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/graphic_v5.png" alt="" class="custom-width-100-mobile custom-p-50-mobile custom-mb-50">
    </div>
  </div>
  <!-- ------------------------------------- side by side end ------------------------------------- -->
</div>
<!-- ------------------------------------- content end ------------------------------------- -->
<!-- ------------------------------------- content start ------------------------------------- -->
<div class="container-fluid custom-bg-color-primary custom-height-25"></div>
<!-- ------------------------------------- content end ------------------------------------- -->
<!-- ------------------------------------- content start ------------------------------------- -->
<div class="container-fluid custom-bg-black-2 custom-color-white">
  <div class="custom-width-1200 mx-auto">
    <p class="custom-header-40-mobile custom-weight-bolder custom-m-0 custom-ptb-150">On average, CVhire users save 15 hours per month of busywork.</p>
  </div>
</div>
<!-- ------------------------------------- content end ------------------------------------- -->
<!-- ------------------------------------- content start ------------------------------------- -->
<div class="container-fluid custom-bg-color-success custom-height-25"></div>
<!-- ------------------------------------- content end ------------------------------------- -->
<!-- ------------------------------------- content start ------------------------------------- -->
<div class="custom-width-1200 mx-auto custom-pt-100 text-center">
  <p class="custom-header-40-mobile custom-weight-bolder custom-m-0">Trusted by over 5,000 companies big and small.</p>
  <div class="custom-display-flex custom-mt-50 custom-mb-100 custom-jc-between custom-fw-1">
    <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/company_logo_wide_google.png" alt="google" class="custom-img-height-50 custom-m-25">
    <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/company_logo_wide_square.png" alt="square" class="custom-img-height-50 custom-m-25">
    <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/company_logo_wide_amazon.png" alt="amazon" class="custom-img-height-50 custom-m-25">
    <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/company_logo_wide_notion.png" alt="notion" class="custom-img-height-50 custom-m-25">
    <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/company_logo_wide_github.png" alt="github" class="custom-img-height-50 custom-m-25">
    <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/company_logo_wide_hellofresh.png" alt="hellofresh" class="custom-img-height-50 custom-m-25">
    <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/company_logo_wide_surveymonkey.png" alt="surveymonkey" class="custom-img-height-50 custom-m-25">
    <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/company_logo_wide_prudential.png" alt="prudential" class="custom-img-height-50 custom-m-25">
    <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/company_logo_wide_netflix.png" alt="netflix" class="custom-img-height-50 custom-m-25">
    <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/company_logo_wide_grammarly.png" alt="grammarly" class="custom-img-height-50 custom-m-25">
    <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/company_logo_wide_hinge.png" alt="hinge" class="custom-img-height-50 custom-m-25">
    <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/company_logo_wide_capitalone.png" alt="capitalone" class="custom-img-height-50 custom-m-25">
  </div>
</div>
<!-- ------------------------------------- content end ------------------------------------- -->
<!-- ------------------------------------- latest blog post start ------------------------------------- -->
<div class="custom-width-1200 mx-auto">
  <div class="text-center">
    <h2 class="custom-header-30-mobile custom-weight-bolder custom-mb-50 custom-mt-50">Checkout our latest blog posts</h2>
  </div>
  <!-- ----------------------------------- all posts start ----------------------------------- -->
  <div class="custom-mb-100 custom-display-flex custom-jc-between-mobile-center custom-f-wrap custom-gap-50">
    {% for i_post in page_dict_html['db_arr_dicts'] %}
      <div class="custom-width-300 border shadow">
        <!-- ----------------------------------- img start ----------------------------------- -->
        <div>
          <a href="/blog/{{ i_post['title'] }}"><img src="{{ i_post['image_url'] }}" alt="blog photo" class="custom-img-height-200 custom-width-100"></a>
        </div>
        <!-- ----------------------------------- img end ----------------------------------- -->
        <!-- ----------------------------------- words start ----------------------------------- -->
        <div class="custom-p-10">
          <!-- ----------------------------------- keywords start ----------------------------------- -->
          <div class="custom-display-flex custom-f-wrap">
            {% for k_keyword, v_keyword in i_post['keywords_read_dict'].items() %}
              <a href="/blog/category/{{ v_keyword['url'] }}" class="custom-underline-none"><p class="custom-f-nowrap-important custom-m-0 custom-header-8 custom-br-15 custom-mr-5 custom-mt-5 custom-plr-10 custom-ptb-5 {{ v_keyword['html-bg-color'] }} {{ v_keyword['html-text-color'] }}">{{ k_keyword }}</p></a>
            {% endfor %}
          </div>
          <!-- ----------------------------------- keywords end ----------------------------------- -->
          <!-- ----------------------------------- title and details start ----------------------------------- -->
          <div class="custom-mb-15">
            <h2 class="custom-m-0 custom-header-20 custom-mt-15"><a href="/blog/{{ i_post['title'] }}" class="custom-a-black-underline">{{ i_post['title_read'] }}</a></h2>
            <p class="custom-m-0 custom-header-12 custom-opacity-50 custom-mt-15">{{ i_post['details'] }}</p>
          </div>
          <!-- ----------------------------------- title and details end ----------------------------------- -->
          <!-- ----------------------------------- authored start ----------------------------------- -->
          <div class="custom-display-flex">
            <div>
              <a href="{{ i_post['author_social_url'] }}" target="_blank"><img src="{{ i_post['author_img_url'] }}" alt="author profile img" class="custom-img-height-20 custom-mr-5 custom-mt-negative-5"></a>
            </div>
            <a href="{{ i_post['author_social_url'] }}" target="_blank" class="custom-a-black-underline custom-m-0 custom-header-15 custom-opacity-50 custom-mr-15">{{ i_post['author'] }}</a>
            <a href="/blog/{{ i_post['title'] }}" class="custom-a-black-underline custom-m-0 custom-header-15 custom-opacity-50"><i class="fa-regular fa-calendar custom-mr-5"></i> {{ i_post['created_timestamp_read'] }}</a>
          </div>
          <!-- ----------------------------------- authored end ----------------------------------- -->
        </div>
      </div>
      <!-- ----------------------------------- words end ----------------------------------- -->
    {% endfor %}
  </div>
  <!-- ----------------------------------- all posts end ----------------------------------- -->
</div>
<!-- ------------------------------------- latest blog post end ------------------------------------- -->
{% endblock %}