{% extends "navbar/exterior.html" %}

{% block title %}
  <title>Home | CVhire</title>
  <meta name="description" content="CVhire">
  <meta name="og:description" content="CVhire">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<div class="custom-width-1200 mx-auto">
  <!-- ------------------------------------- background image start ------------------------------------- -->
  <div class="custom-bg-tilted-2">
    <div class="custom-bg-solid-2"></div>
  </div>
  <div class="custom-bg-tilted-3">
    <div class="custom-bg-solid-3"></div>
  </div>
  <!-- ------------------------------------- background image end ------------------------------------- -->
  <!-- ------------------------------------- title start ------------------------------------- -->
  <div class="custom-pt-75 text-center">
    <h1 class="custom-header-40-mobile custom-weight-bolder">CV screening with AI. Fast and free.</h1>
    <h2 class="custom-header-25-mobile custom-mt-25">Save hours sifting through resumes.</h2>
  </div>
  <!-- ------------------------------------- title end ------------------------------------- -->
</div>
{% endblock %}