{% extends "navbar/exterior.html" %}

{% block title %}
  <title>Home | CVhire</title>
  <meta name="description" content="CVhire is an automated CV screening and resume parser for recruiters and HR teams. AI recruiting made simple.">
  <meta name="og:description" content="CVhire is an automated CV screening and resume parser for recruiters and HR teams. AI recruiting made simple.">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- ------------------------------------- content start ------------------------------------- -->
<div class="container-fluid css-bg-green-800">
  <div class="css-width-1200 mx-auto css-color-white">
    <!-- ------------------------------------- title start ------------------------------------- -->
    <div class="css-pt-75 text-center css-width-600 mx-auto">
      <h1 class="css-header-40-mobile css-weight-bolder">Hire Smarter with AI Powered Applicant Tracking System</h1>
      <h2 class="css-header-20-mobile css-mt-30 css-color-off-white">The #1 platform for applicant resume parsing & CV screening with AI</h2>
    </div>
    <!-- ------------------------------------- title end ------------------------------------- -->
    <!-- ------------------------------------- email collect start ------------------------------------- -->
    <div class="css-pb-75 css-width-500 mx-auto">
      <form method="POST" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
        <div class="form-group css-display-flex css-mt-25">
          <label for="uiEmail"></label>
          <input type="email" class="form-control css-br-10-specific-4 css-p-15" id="uiEmail" name="uiEmail" aria-describedby="emailHelp" placeholder="Work email address" required>
          <button type="submit" class="btn btn-secondary css-nowrap css-br-10-specific-3">Start free trial</button>
        </div>
      </form>
    </div>
    <!-- ------------------------------------- email collect end ------------------------------------- -->
    <!-- ------------------------------------- img start ------------------------------------- -->
    <div class="text-center css-pb-50">
      <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/intro_graphic_v3.png" alt="img" class="css-br-15 css-width-100">
    </div>
    <!-- ------------------------------------- img end ------------------------------------- -->
  </div>
</div>
<!-- ------------------------------------- shape divider start ------------------------------------- -->
<div class="custom-shape-divider-top-1700653874 css-bg-grey-1">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 0L0 0 598.97 114.72 1200 0z" class="shape-fill"></path>
  </svg>
</div>
<!-- ------------------------------------- shape divider end ------------------------------------- -->
<!-- ------------------------------------- content start ------------------------------------- -->
<div class="container-fluid css-bg-grey-1 css-pb-50">
  <div class="css-width-1200 mx-auto text-center">
    <p class="css-header-20-mobile css-weight-bolder css-m-0">Trusted by over 2,000 companies big and small.</p>
    <div class="css-display-flex css-mt-25 css-mb-50 css-jc-between css-fw-1">
      <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/company_logo_wide_square.png" alt="square logo" class="css-img-height-50 css-m-25">
      <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/company_logo_wide_notion.png" alt="notion logo" class="css-img-height-50 css-m-25">
      <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/company_logo_wide_grammarly.png" alt="grammarly logo" class="css-img-height-50 css-m-25">
      <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/company_logo_wide_github.png" alt="github logo" class="css-img-height-50 css-m-25">
      <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/company_logo_wide_hellofresh.png" alt="hellofresh logo" class="css-img-height-50 css-m-25">
      <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/company_logo_wide_hinge.png" alt="hinge logo" class="css-img-height-50 css-m-25">
    </div>
  </div>
</div>
<!-- ------------------------------------- content end ------------------------------------- -->
<div class="css-width-1200 mx-auto">
  <!-- ------------------------------------- words start ------------------------------------- -->
  <div class="css-pt-100 css-pb-50 text-center">
    <p class="css-header-40-mobile css-weight-bolder css-m-0">Whatever your use case, we’ve got you covered.</p>
  </div>
  <!-- ------------------------------------- words end ------------------------------------- -->
  <!-- ------------------------------------- side by side start ------------------------------------- -->
  <div class="css-display-flex css-display-flex-row-to-column-mobile css-gap-25">
    <div class="css-width-100 my-auto css-ptb-25">
      <h2 class="css-header-30-mobile css-weight-bolder">Screen one role against many CV's</h2>
      <p class="css-header-20-mobile css-mt-25">Resume parser to evaluate multiple candidates for a single role, pinpointing the top-tier talent in seconds.</p>
      <a href="/feature/one-role-many-cvs" class="btn btn-secondary btn-lg css-mt-25">Get started</a>
    </div>
    <div class="text-center css-width-100">
      <a href="/feature/one-role-many-cvs"><img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/graphic_v2.png" alt="" class="css-width-100-mobile css-p-50-mobile"></a>
    </div>
  </div>
  <!-- ------------------------------------- side by side end ------------------------------------- -->
  <!-- ------------------------------------- side by side start ------------------------------------- -->
  <div class="css-display-flex css-display-flex-row-to-column-mobile css-mt-50 css-gap-25">
    <div class="css-width-100 my-auto css-ptb-25">
      <h2 class="css-header-30-mobile css-weight-bolder">Screen one CV against many roles</h2>
      <p class="css-header-20-mobile css-mt-25">Effortlessly compare a candidate's CV against multiple company roles, identifying the optimal position for a candidate within your organization.</p>
      <a href="/feature/one-cv-many-roles" class="btn btn-success btn-lg css-mt-25">Learn more</a>
    </div>
    <div class="text-center css-width-100">
      <a href="/feature/one-cv-many-roles"><img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/graphic_v3.png" alt="" class="css-width-100-mobile css-p-50-mobile"></a>
    </div>
  </div>
  <!-- ------------------------------------- side by side end ------------------------------------- -->
  <!-- ------------------------------------- side by side start ------------------------------------- -->
  <div class="css-display-flex css-display-flex-row-to-column-mobile css-mt-50 css-gap-25">
    <div class="css-width-100 my-auto css-ptb-25">
      <h2 class="css-header-30-mobile css-weight-bolder">Ask AI anything about a CV</h2>
      <p class="css-header-20-mobile css-mt-25">Ask any question regarding a candidate's CV. Whether you're seeking insights into their strengths or a summary of their resume, our system delivers precise answers.</p>
      <a href="/feature/ask-ai" class="btn btn-secondary btn-lg css-mt-25">Try now</a>
    </div>
    <div class="text-center css-width-100">
      <a href="/feature/ask-ai"><img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/graphic_v4.png" alt="" class="css-width-100-mobile css-p-50-mobile"></a>
    </div>
  </div>
  <!-- ------------------------------------- side by side end ------------------------------------- -->
  <!-- ------------------------------------- side by side start ------------------------------------- -->
  <div class="css-display-flex css-display-flex-row-to-column-mobile css-mt-50 css-gap-25">
    <div class="css-width-100 my-auto css-ptb-25">
      <h2 class="css-header-30-mobile css-weight-bolder">Export all AI results</h2>
      <p class="css-header-20-mobile css-mt-25">Seamlessly export AI findings to Excel, Google Sheets, Zapier, and more.</p>
      <a href="/feature/export" class="btn btn-success btn-lg css-mt-25">Explore now</a>
    </div>
    <div class="text-center css-width-100">
      <a href="/feature/export"><img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/graphic_v5.png" alt="" class="css-width-100-mobile css-p-50-mobile css-mb-50"></a>
    </div>
  </div>
  <!-- ------------------------------------- side by side end ------------------------------------- -->
  <!-- ------------------------------------- side by side start ------------------------------------- -->
  <div class="css-display-flex css-display-flex-row-to-column-mobile css-mt-50 css-gap-25">
    <div class="css-width-100 my-auto css-ptb-25">
      <h2 class="css-header-30-mobile css-weight-bolder">Job Description Generator with AI</h2>
      <p class="css-header-20-mobile css-mt-25">Leverage artificial intelligence to create precise and tailored job descriptions, optimizing the recruitment process.</p>
      <a href="/signup" class="btn btn-info btn-lg css-mt-25">See more</a>
    </div>
    <div class="text-center css-width-100">
      <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/graphic_v6.png" alt="" class="css-width-100-mobile css-p-50-mobile css-mb-50">
    </div>
  </div>
  <!-- ------------------------------------- side by side end ------------------------------------- -->
  <!-- ------------------------------------- content end ------------------------------------- -->
</div>
{% endblock %}