{% extends "navbar/exterior.html" %}

{% block title %}
  <title>Login | CvHire</title>
  <meta name="description" content="CvHire">
  <meta name="og:description" content="CvHire">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- alert start ----------------------------------- -->
{% if page_dict_html['alert_message_dict']['message'] != '' %}
<div class="alert alert-{{ page_dict_html['alert_message_dict']['type'] }} mx-auto text-center container-fluid" role="alert">
  {{ page_dict_html['alert_message_dict']['message'] }}
</div>
{% endif %}
<!-- ----------------------------------- alert end ----------------------------------- -->
Login
<form method="POST" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
  <div class="form-group">
    <label for="uiEmail">Email</label>
    <input type="email" class="form-control" id="uiEmail" name="uiEmail" aria-describedby="emailHelp" placeholder="Email *" required>
  </div>
  <div class="form-group">
    <label for="uiPassword">Password</label>
    <input type="password" class="form-control" id="uiPassword" name="uiPassword" placeholder="Password *" title="Minimum 4 characters" required>
  </div>
  <button type="submit" class="btn btn-primary">Get started</button>
</form>
<a href="/" class="btn btn-outline-secondary">Home</a>
<a href="/reset" class="btn btn-outline-secondary">Forgot password</a>
{% endblock %}