{% extends "navbar/exterior.html" %}

{% block title %}
  <title>One Role Many CVs | CVhire</title>
  <meta name="description" content="CVhire is an automated CV screening and resume parser for recruiters and HR teams. AI recruiting made simple.">
  <meta name="og:description" content="CVhire is an automated CV screening and resume parser for recruiters and HR teams. AI recruiting made simple.">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- ------------------------------------- content start ------------------------------------- -->
<div class="css-width-1200 mx-auto">
  <!-- ------------------------------------- title start ------------------------------------- -->
  <div class="text-center css-mt-100 css-mb-50">
    {% if page_dict_html['url_feature_code'] == 'one-role-many-cvs' %}
      <h1 class="css-header-40-mobile">Screening one role for many CV's</h1>
    {% elif page_dict_html['url_feature_code'] == 'one-cv-many-roles' %}
      <h1 class="css-header-40-mobile">Screening one CV for many roles</h1>
    {% elif page_dict_html['url_feature_code'] == 'ask-ai' %}
      <h1 class="css-header-40-mobile">Ask AI anything about a CV</h1>
    {% elif page_dict_html['url_feature_code'] == 'export' %}
      <h1 class="css-header-40-mobile">Export results</h1>
    {% endif %}
  </div>
  <!-- ------------------------------------- title end ------------------------------------- -->
  <!-- ------------------------------------- img start ------------------------------------- -->
  <div class="text-center css-mb-100">
    {% if page_dict_html['url_feature_code'] == 'one-role-many-cvs' %}
      <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/graphic_v2.png" alt="img" class="css-max-width-95">
    {% elif page_dict_html['url_feature_code'] == 'one-cv-many-roles' %}
      <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/graphic_v3.png" alt="img" class="css-max-width-95">
    {% elif page_dict_html['url_feature_code'] == 'ask-ai' %}
      <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/graphic_v4.png" alt="img" class="css-max-width-95">
    {% elif page_dict_html['url_feature_code'] == 'export' %}
      <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/graphic_v5.png" alt="img" class="css-max-width-95">
    {% endif %}
  </div>
  <!-- ------------------------------------- img end ------------------------------------- -->
  <!-- ------------------------------------- explanation start ------------------------------------- -->
  <div class="css-mb-100">
    <h2 class="css-header-25-mobile css-mb-25">Explained</h2>
    {% if page_dict_html['url_feature_code'] == 'one-role-many-cvs' %}
      <p class="css-header-20-mobile">Our intuitive system allows you to upload a single job description as well as multiple candidate CVs simultaneously, leveraging advanced AI technology to parse and analyze each resume in depth. By comparing key qualifications, experience, and skills against the requirements of the role, CVhire efficiently identifies the most suitable candidates for the role, saving you countless hours of manual review. Our AI approach ensures a faster, more accurate matching process, enabling you to focus on engaging the best talent for your open positions.</p>
    {% elif page_dict_html['url_feature_code'] == 'one-cv-many-roles' %}
      <p class="css-header-20-mobile">Our intuitive system allows you to upload a single candidate CV as well as multiple job descriptions simultaneously, leveraging advanced AI technology to parse and analyze each resume + job description match in depth. By comparing key qualifications, experience, and skills against the requirements of the role, CVhire efficiently identifies the most suitable role for the candidate, saving you countless hours of manual review. Our AI approach ensures a faster, more accurate matching process, enabling you to focus on engaging the best talent for your open positions.</p>
    {% elif page_dict_html['url_feature_code'] == 'ask-ai' %}
      <p class="css-header-20-mobile">Designed to be your personal assistant when evaluating candidates, our innovative tool empowers recruiters to query our advanced AI about any aspect of a candidate's CV. Whether you're looking for insights into a candidate's work experience, education, skills, or even how they align with the specific requirements of your open role, our AI delivers precise, instant answers. Helping to significantly reduce the time spent on reviewing each CV, and ensuring that you have all the necessary information to identify the best-fit candidates effortlessly.</p>
    {% elif page_dict_html['url_feature_code'] == 'export' %}
      <p class="css-header-20-mobile">Exporting your candidate screening results is as easy as clicking one button on our platform. All exported data is automatically sent to your email.</p>
    {% endif %}
  </div>
  <!-- ------------------------------------- explanation end ------------------------------------- -->
  {% if page_dict_html['url_feature_code'] == 'one-role-many-cvs' or page_dict_html['url_feature_code'] == 'one-cv-many-roles' %}
    <!-- ------------------------------------- step start ------------------------------------- -->
    <div class="css-mb-50 text-center">
      <h2 class="css-header-25-mobile css-mb-25">Step 1: Add or generate job description with AI</h2>
    </div>
    <!-- ------------------------------------- step end ------------------------------------- -->
    <!-- ------------------------------------- img start ------------------------------------- -->
    <div class="text-center css-mb-150">
      <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/newRole.png" alt="img" class="css-max-width-95 border shadow css-br-15 css-max-height-800">
    </div>
    <!-- ------------------------------------- img end ------------------------------------- -->
    <!-- ------------------------------------- step start ------------------------------------- -->
    <div class="css-mb-50 text-center">
      <h2 class="css-header-25-mobile css-mb-25">Step 2: Add candidate resumes/CVs</h2>
    </div>
    <!-- ------------------------------------- step end ------------------------------------- -->
    <!-- ------------------------------------- img start ------------------------------------- -->
    <div class="text-center css-mb-150">
      <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/addCV.png" alt="img" class="border shadow css-br-15 css-width-700">
    </div>
    <!-- ------------------------------------- img end ------------------------------------- -->
    <!-- ------------------------------------- step start ------------------------------------- -->
    <div class="css-mb-50 text-center">
      {% if page_dict_html['url_feature_code'] == 'one-role-many-cvs' %}
        <h2 class="css-header-25-mobile css-mb-25">Step 3: Select one role and many candidate CV's for analysis</h2>
      {% elif page_dict_html['url_feature_code'] == 'one-cv-many-roles' %}
        <h2 class="css-header-25-mobile css-mb-25">Step 3: Select one role and many candidate CV's for analysis</h2>
      {% endif %}
    </div>
    <!-- ------------------------------------- step end ------------------------------------- -->
    <!-- ------------------------------------- img start ------------------------------------- -->
    <div class="text-center css-mb-150">
      {% if page_dict_html['url_feature_code'] == 'one-role-many-cvs' %}
        <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/selectOneRoleManyCV.png" alt="img" class="border shadow css-br-15 css-max-width-95">
      {% elif page_dict_html['url_feature_code'] == 'one-cv-many-roles' %}
        <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/selectOneCVManyRoles.png" alt="img" class="border shadow css-br-15 css-max-width-95">
      {% endif %}
    </div>
    <!-- ------------------------------------- img end ------------------------------------- -->
    <!-- ------------------------------------- step start ------------------------------------- -->
    <div class="css-mb-50 text-center">
      <h2 class="css-header-25-mobile css-mb-25">Step 4: Results are automatically sorted by the most qualified candidates</h2>
    </div>
    <!-- ------------------------------------- step end ------------------------------------- -->
    <!-- ------------------------------------- img start ------------------------------------- -->
    <div class="text-center css-mb-150">
      <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/results1.png" alt="img" class="border shadow css-br-15 css-max-width-95">
    </div>
    <!-- ------------------------------------- img end ------------------------------------- -->
    <!-- ------------------------------------- step start ------------------------------------- -->
    <div class="css-mb-50 text-center">
      <h2 class="css-header-25-mobile css-mb-25">Step 5: Candidate summary and follow-up questions are automatically generated based on the candidate's CV.</h2>
    </div>
    <!-- ------------------------------------- step end ------------------------------------- -->
    <!-- ------------------------------------- img start ------------------------------------- -->
    <div class="text-center css-mb-150">
      <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/results2.png" alt="img" class="css-max-width-95 border shadow css-br-15 css-max-height-800">
    </div>
    <!-- ------------------------------------- img end ------------------------------------- -->
  {% elif page_dict_html['url_feature_code'] == 'ask-ai' %}
    <!-- ------------------------------------- step start ------------------------------------- -->
    <div class="css-mb-50 text-center">
      <h2 class="css-header-25-mobile css-mb-25">Step 1: Add candidate resumes/CVs</h2>
    </div>
    <!-- ------------------------------------- step end ------------------------------------- -->
    <!-- ------------------------------------- img start ------------------------------------- -->
    <div class="text-center css-mb-150">
      <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/addCV.png" alt="img" class="border shadow css-br-15 css-width-700">
    </div>
    <!-- ------------------------------------- img end ------------------------------------- -->
    <!-- ------------------------------------- step start ------------------------------------- -->
    <div class="css-mb-50 text-center">
      <h2 class="css-header-25-mobile css-mb-25">Step 2: Select 'Ask AI' from the candidate dashboard</h2>
    </div>
    <!-- ------------------------------------- step end ------------------------------------- -->
    <!-- ------------------------------------- img start ------------------------------------- -->
    <div class="text-center css-mb-150">
      <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/cvDashboard_withOutline.png" alt="img" class="border shadow css-br-15 css-max-width-95">
    </div>
    <!-- ------------------------------------- img end ------------------------------------- -->
    <!-- ------------------------------------- step start ------------------------------------- -->
    <div class="css-mb-50 text-center">
      <h2 class="css-header-25-mobile css-mb-25">Step 3: Ask AI anything about the candidate's CV</h2>
    </div>
    <!-- ------------------------------------- step end ------------------------------------- -->
    <!-- ------------------------------------- img start ------------------------------------- -->
    <div class="text-center css-mb-150">
      <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/askAi1.png" alt="img" class="border shadow css-br-15 css-width-700">
    </div>
    <!-- ------------------------------------- img end ------------------------------------- -->
    <!-- ------------------------------------- step start ------------------------------------- -->
    <div class="css-mb-50 text-center">
      <h2 class="css-header-25-mobile css-mb-25">Step 4: View AI responses</h2>
    </div>
    <!-- ------------------------------------- step end ------------------------------------- -->
    <!-- ------------------------------------- img start ------------------------------------- -->
    <div class="text-center css-mb-150">
      <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/askAi2.png" alt="img" class="border shadow css-br-15 css-width-700">
    </div>
    <!-- ------------------------------------- img end ------------------------------------- -->
  {% elif page_dict_html['url_feature_code'] == 'export' %}
    <!-- ------------------------------------- step start ------------------------------------- -->
    <div class="css-mb-50 text-center">
      <h2 class="css-header-25-mobile css-mb-25">Step 1: Click 'Export' in the export dashboard, then check your email.</h2>
    </div>
    <!-- ------------------------------------- step end ------------------------------------- -->
    <!-- ------------------------------------- img start ------------------------------------- -->
    <div class="text-center css-mb-150">
      <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/exportButton.png" alt="img" class="border shadow css-br-15 css-max-width-95">
    </div>
    <!-- ------------------------------------- img end ------------------------------------- -->
  {% endif %}
  <!-- ------------------------------------- signup start ------------------------------------- -->
  <div class="text-center css-mb-100">
    <a href="/signup" class="btn btn-lg btn-primary css-width-100 css-ptb-15">Get started</a>
    <div class="css-mt-25">
      <a href="/" class="css-a-black-underline css-opacity-75">Back</a>
    </div>
  </div>
  <!-- ------------------------------------- signup end ------------------------------------- -->
</div>
<!-- ------------------------------------- content end ------------------------------------- -->
{% endblock %}