{% extends "navbar/exterior.html" %}

{% block title %}
  <title>One Role Many CVs | CVhire</title>
  <meta name="description" content="CVhire is an automated CV screening and resume parser for recruiters and HR teams. AI recruiting made simple.">
  <meta name="og:description" content="CVhire is an automated CV screening and resume parser for recruiters and HR teams. AI recruiting made simple.">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- ------------------------------------- content start ------------------------------------- -->
<div class="css-width-1200 mx-auto">
  <!-- ------------------------------------- title start ------------------------------------- -->
  <div class="text-center css-mt-100 css-mb-50">
    <h1>Screening one role for many CV's</h1>
  </div>
  <!-- ------------------------------------- title end ------------------------------------- -->
  <!-- ------------------------------------- img start ------------------------------------- -->
  <div class="text-center">
    <a href="/feature/one-role-many-cvs"><img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/graphic_v2.png" alt="img" class=""></a>
  </div>
  <!-- ------------------------------------- img end ------------------------------------- -->
</div>
<!-- ------------------------------------- content end ------------------------------------- -->
{% endblock %}