{% extends "navbar/exterior.html" %}

{% block title %}
  <title>One Role Many CVs | CVhire</title>
  <meta name="description" content="CVhire is an automated CV screening and resume parser for recruiters and HR teams. AI recruiting made simple.">
  <meta name="og:description" content="CVhire is an automated CV screening and resume parser for recruiters and HR teams. AI recruiting made simple.">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- ------------------------------------- content start ------------------------------------- -->
<div class="css-width-1200 mx-auto">
  <!-- ------------------------------------- title start ------------------------------------- -->
  <div class="text-center css-mt-100 css-mb-50">
    <h1 class="css-header-40-mobile">Screening one role for many CV's</h1>
  </div>
  <!-- ------------------------------------- title end ------------------------------------- -->
  <!-- ------------------------------------- img start ------------------------------------- -->
  <div class="text-center css-mb-100">
    <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/graphic_v2.png" alt="img" class="css-max-width-95">
  </div>
  <!-- ------------------------------------- img end ------------------------------------- -->
  <!-- ------------------------------------- explanation start ------------------------------------- -->
  <div class="css-mb-100">
    <h2 class="css-header-25-mobile css-mb-25">Explained</h2>
    <p class="css-header-20-mobile">Our intuitive system allows you to upload a single job description as well as multiple candidate CVs simultaneously, leveraging advanced AI technology to parse and analyze each resume in depth. By comparing key qualifications, experience, and skills against the requirements of the role, CVhire efficiently identifies the most suitable candidates for the role, saving you countless hours of manual review. Our AI approach ensures a faster, more accurate matching process, enabling you to focus on engaging the best talent for your open positions.</p>
  </div>
  <!-- ------------------------------------- explanation end ------------------------------------- -->
  <!-- ------------------------------------- step start ------------------------------------- -->
  <div class="css-mb-50 text-center">
    <h2 class="css-header-25-mobile css-mb-25">Step 1: Add role information</h2>
  </div>
  <!-- ------------------------------------- step end ------------------------------------- -->
  <!-- ------------------------------------- img start ------------------------------------- -->
  <div class="text-center css-mb-100">
    <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/newRole.png" alt="img" class="css-max-width-95 border shadow css-br-15 css-max-height-800">
  </div>
  <!-- ------------------------------------- img end ------------------------------------- -->
  <!-- ------------------------------------- step start ------------------------------------- -->
  <div class="css-mb-50 text-center">
    <h2 class="css-header-25-mobile css-mb-25">Step 2: Add candidate resumes/CVs</h2>
  </div>
  <!-- ------------------------------------- step end ------------------------------------- -->
  <!-- ------------------------------------- img start ------------------------------------- -->
  <div class="text-center css-mb-100">
    <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/addCV.png" alt="img" class="border shadow css-br-15 css-width-700">
  </div>
  <!-- ------------------------------------- img end ------------------------------------- -->
  <!-- ------------------------------------- step start ------------------------------------- -->
  <div class="css-mb-50 text-center">
    <h2 class="css-header-25-mobile css-mb-25">Step 3: Select one role and many candidate CV's for analysis</h2>
  </div>
  <!-- ------------------------------------- step end ------------------------------------- -->
  <!-- ------------------------------------- img start ------------------------------------- -->
  <div class="text-center css-mb-100">
    <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/selectOneRoleManyCV.png" alt="img" class="border shadow css-br-15 css-max-width-95">
  </div>
  <!-- ------------------------------------- img end ------------------------------------- -->
</div>
<!-- ------------------------------------- content end ------------------------------------- -->
{% endblock %}