{% extends "navbar/exterior.html" %}

{% block title %}
  <title>CvHire | Login</title>
  <meta name="description" content="CvHire">
  <meta name="og:description" content="CvHire">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
Reset
<form method="POST" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
  <div class="form-group">
    <label for="uiEmail">Email</label>
    <input type="email" class="form-control" id="uiEmail" name="uiEmail" aria-describedby="emailHelp" placeholder="Email *" required>
  </div>
  <button type="submit" class="btn btn-primary">Get started</button>
</form>
<a href="/" class="btn btn-outline-secondary">Home</a>
{% endblock %}