/* ------------------- a start ------------------- */
.css-a-1, .css-a-1:visited {
  color: var(--css-color-1);
  text-decoration: none;
}
.css-a-1:hover {
  color: white;
  text-decoration: underline;
}
.css-a-2, .css-a-2:visited {
  color: black;
  text-decoration: none;
}
.css-a-2:hover {
  color: black;
  text-decoration: underline;
}
.css-a-2-none, .css-a-2-none:visited, .css-a-2-none:hover {
  color: black;
  text-decoration: none;
}
.css-a-3, .css-a-3:visited {
  color: var(--css-color-1);
  text-decoration: none;
}
.css-a-3:hover {
  color: black;
  text-decoration: underline;
}
.css-a-4, .css-a-4:visited {
  color: var(--css-color-1);
  text-decoration: none;
}
.css-a-4:hover {
  color: var(--bs-primary);
  text-decoration: underline;
}
.css-a-5, .css-a-5:visited {
  color: white;
  text-decoration: none;
}
.css-a-5:hover {
  color: white;
  text-decoration: underline;
}
.css-a-6, .css-a-6:visited, .css-a-6:hover {
  color: white;
  text-decoration: underline;
}
.css-a-none, .css-a-none:hover,.css-a-none:visited {
  text-decoration: none;
}
.css-a-white, .css-a-white:visited, .css-a-white:hover {
  color: white;
  text-decoration: none;
}
.css-a-white-underline {
  color: white;
  text-decoration: none;
}
.css-a-white-underline:hover {
  color: white;
  text-decoration: underline;
}
.css-a-white-underline-on, .css-a-white-underline-on:hover, .css-a-white-underline-on:visited {
  color: white;
  text-decoration: underline;
}
.css-a-info-underline {
  color: var(--css-color-info);
  text-decoration: none;
}
.css-a-info-underline:hover, .css-a-info-underline:visited {
  color: var(--css-color-info);
  text-decoration: underline;
}
.css-a-white-none, .css-a-white-none:visited, .css-a-white-none-none:hover {
  color: white !important;
  text-decoration: none !important;
}
.css-a-black-none, .css-a-black-none:visited, .css-a-black-none:hover {
  color: black;
  text-decoration: none;
}
.css-a-black-underline, .css-a-black-underline:visited {
  color: black;
  text-decoration: none;
}
.css-a-black-underline:hover {
  color: black;
  text-decoration: underline;
}
.css-a-black-underline-on, .css-a-black-underline-on:visited, .css-a-black-underline-on:hover {
  color: black;
  text-decoration: underline;
}
.css-a-danger-underline, .css-a-danger-underline:visited {
  color: var(--css-color-danger);
  text-decoration: none;
}
.css-a-danger-underline:hover {
  color: var(--css-color-danger);
  text-decoration: underline;
}
/* ------------------- a end ------------------- */
/* ------------------- background start ------------------- */
.css-bg-hover-1 {
  position: relative
}
.css-bg-hover-1:hover {
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.10);
}
.css-bg-see-through {
  background-color: rgba(255, 255, 255, 0) !important;
}
.css-bg-white {
  background-color: white;
}
.css-bg-white-always, .css-bg-white-always:hover, .css-bg-white-always:active {
  background-color: white !important;
}
.css-bg-black {
  background-color: black;
}
.css-bg-black-2 {
  background-color: rgb(50, 50, 50);
}
.css-bg-tan-1 {
  background-color: rgb(255, 237, 217);
}
.css-bg-tan-2 {
  background-color: rgb(255 248 240 / 73%);
}
.css-bg-colorful-1 {
  background: linear-gradient(145deg, rgb(255 224 224)0%, rgb(255 254 221)25%, rgb(240 255 238)50%, rgb(233 209 255)100%);
}
.css-bg-green-1 {
  background-color: rgb(222 242 231);
}
.css-bg-green-2 {
  background-color: rgb(153, 179, 154);
}
.css-bg-warning {
  background-color: var(--css-color-warning);
}
.css-bg-info {
  background-color: var(--css-color-info);
}
.css-bg-secondary {
  background-color: var(--css-color-secondary);
}
.css-bg-success {
  background-color: var(--css-color-success);
}
.css-bg-danger {
  background-color: var(--css-color-danger);
}
.css-bg-orange {
  background-color: var(--css-color-orange);
}
.css-bg-purple {
  background-color: var(--css-color-purple);
}
.css-bg-dark-1 {
  background-color: rgb(7 19 61);
}
.css-bg-blue-1 {
  background-color: rgb(231 241 255);
}
.css-bg-grey-1 {
  background-color: rgb(246, 248, 250);
}
.css-bg-grey-2 {
  background-color: rgb(248, 248, 248);
}
.css-bg-grey-3 {
  background-color: rgb(240, 240, 240);
}
.css-bg-1-dark {
  background-color: var(--css-color-2-dark);
}
.css-bg-1-light {
  background-color: var(--css-color-2-light);
}
.css-bg-primary {
  background-color: var(--css-color-primary);
}
.css-bg-primary-lighter {
  background-color: var(--css-color-primary-lighter);
}
.css-bg-primary-darker {
  background-color: var(--css-color-primary-darker);
}
.css-bg-for-gradient-2 {
  background-color: var(--css-color-9);
}
.css-bg-primary-gradient-1 {
  background: linear-gradient(to bottom, var(--css-color-primary), var(--css-color-primary-darker));
}
.css-bg-gradient-1 {
  background: linear-gradient(to top, rgb(255 255 255), rgb(194 230 201 / 23%));
}
.css-bg-gradient-2 {
  background: linear-gradient(to bottom, var(--css-color-primary-lighter), var(--css-color-10), var(--css-color-9));
}
.css-bg-gradient-13 {
  background: linear-gradient(to bottom, var(--css-color-13), var(--css-color-13-darker));
}
.css-bg-see-through {
  background-color: rgba(255, 255, 255, 0);
}
.css-bg-color-primary {
  background-color: var(--css-color-primary);
}
.css-bg-color-success {
  background-color: var(--css-color-success);
}
.css-bg-color-danger {
  background-color: var(--css-color-danger);
}
.css-bg-color-1 {
  background-color: rgb(111 66 193 / 10%);
}
.css-bg-color-2 {
  background-color: rgb(246 247 255);
}
.css-bg-color-3 {
  background-color: rgb(220 220 220);
}
.css-bg-color-4 {
  background-color: rgb(207 255 222);
}
.css-bg-color-5 {
  background-color: rgb(255 236 198);
}
.css-bg-color-6 {
  background-color: rgb(255 250 245);
}
.css-bg-color-8 {
  background-color: rgb(241 255 241);
}
.css-bg-color-13 {
  background-color: var(--css-color-13);
}
.css-bg-color-14 {
  background-color: var(--css-color-14);
}
.css-bg-color-15 {
  background-color: var(--css-color-15);
}
.css-bg-color-16 {
  background-color: var(--css-color-16);
}
.css-bg-color-reddit {
  background-color: var(--css-color-reddit);
}
.css-bg-color-reddit:hover {
  background-color: var(--css-color-reddit-hover);
}
.css-back-img-1 {
  background-image: url(https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/custom_shape_2.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  width: 100%;
}
.css-bg-obj-1 {
  height: 40px;
  top: 668px;
  left: calc(50% - 700px);
  right: calc(50% + 540px);
  position: absolute;
  background: var(--css-color-black-faded);
}
.css-bg-obj-2 {
  height: 40px;
  top: 698px;
  left: -10px;
  right: calc(50% + 405px);
  position: absolute;
  background: var(--css-color-primary);
}
.css-bg-obj-3 {
  height: 40px;
  top: 658px;
  left: calc(50% + 430px);
  right: -10px;
  position: absolute;
  background: var(--css-color-primary);
}
.css-bg-tilted-1 {
  z-index: 0;
  position: fixed;
  top: -250px;
  bottom: 0;
  left: 0;
  right: 0;
  transform: skewY(-12deg);
}
.css-bg-solid-1 {
  transform-origin: 0%;
  height: 1698px;
  background-color: rgba(0, 0, 0, 0.025);
  position: absolute;
  top: -1000px;
  left: 0;
  right: 0;
}
.css-bg-tilted-2 {
  z-index: -1;
  position: absolute;
  top: -250px;
  bottom: 0;
  left: 0;
  right: 0;
  transform: skewY(-15deg);
}
.css-bg-solid-2 {
  transform-origin: 0%;
  height: 1698px;
  background-color: rgba(249, 248, 244);
  position: absolute;
  top: -800px;
  left: 50%;
  right: 0;
}
.css-bg-tilted-3 {
  z-index: -1;
  position: absolute;
  top: -250px;
  bottom: 0;
  left: 0;
  right: 0;
  transform: skewY(15deg);
}
.css-bg-solid-3 {
  transform-origin: 0%;
  height: 1698px;
  background-color: rgba(249, 248, 244);
  position: absolute;
  top: -800px;
  left: 0;
  right: 50%;
}
/* ------------------- background end ------------------- */
/* ------------------- badge start ------------------- */
.css-badge-1 {
  position: absolute; /* make the badge's position absolute */
  top: 0; /* position the badge at the top-right corner of the parent */
  right: 5px;
  background-color: red; /* red background for the badge */
  color: white; /* white text color */
  border-radius: 100%; /* make the badge circular */
  padding: 5px; /* some spacing for the text */
  font-size: 10px; /* font size */
  line-height: 1; /* to make sure the badge is nice and round */
  min-width: 10px; /* to make sure the badge is at least a circle */
  text-align: center; /* to center the number/text */
}
/* ------------------- badge end ------------------- */
/* ------------------- blur start ------------------- */
.css-blur-1 {
  filter: blur(5px);
}
/* ------------------- blur end ------------------- */
/* ------------------- bottom start ------------------- */
.css-bottom-1 {
  position: absolute;
  bottom: 0;
}
.css-top-1 {
  position: absolute;
  top: 0;
}
.css-right-1 {
  position: absolute;
  right: 0;
}
/* ------------------- bottom end ------------------- */
/* ------------------- color start ------------------- */
:root {
  --css-color-1: rgb(120 120 120);
  --css-color-2-dark: rgb(90, 90, 90);
  --css-color-2-light: rgb(180, 180, 180);
  --css-color-black: rgba(0, 0, 0);
  --css-color-black-faded: rgba(0, 0, 0, 0.25);
  --css-color-primary: rgb(255, 193, 7);
  --css-color-primary-lighter: rgba(210, 244, 234, 0.50);
  --css-color-primary-darker: rgb(44 26 77);
  --css-color-secondary: rgb(108 117 125);
  --css-color-success: rgb(25, 135, 84);
  --css-color-info: rgb(13, 202, 240);
  --css-color-danger: #dc3545;
  --css-color-warning: rgb(255, 193, 7);
  --css-color-orange: #fd7e14;
  --css-color-purple: #6610f2;
  --css-color-8: rgb(237, 237, 237);
  --css-color-9: rgb(232 255 235);
  --css-color-10: rgb(255 213 213);
  --css-color-12: rgb(181 196 217);
  --css-color-13: rgb(242, 244, 248);
  --css-color-13-darker: rgb(195, 220, 236);
  --css-color-14: rgb(240, 249, 255);
  --css-color-15: rgb(245 251 255);
  --css-color-16: rgb(212, 238, 255);
  --css-color-17: rgb(97, 127, 145);
  --css-color-reddit: rgb(255, 69, 0);
  --css-color-reddit-hover: rgb(210, 57, 0);
}
.css-color-light-1 {
  color: var(--css-color-1);
}
.css-color-primary {
  color: var(--css-color-primary);
}
.css-color-primary-darker {
  color: var(--css-color-primary-darker);
}
.css-color-secondary {
  color: var(--css-color-secondary);
}
.css-color-success {
  color: var(--css-color-success);
}
.css-color-success-hover {
  color: black;
}
.css-color-success-hover:hover {
  color: var(--css-color-success) !important;
}
.css-color-success-important {
  color: var(--css-color-success) !important;
}
.css-color-info {
  color: var(--css-color-info);
}
.css-color-warning {
  color: var(--css-color-warning);
}
.css-color-danger {
  color: var(--css-color-danger);
}
.css-color-danger-important {
  color: var(--css-color-danger) !important;
}
.css-color-black {
  color: black;
}
.css-color-white {
  color: white;
}
.css-color-white-important {
  color: white !important;
}
.css-color-white-opacity-75 {
  color: white;
  opacity: 0.75;
}
.css-color-black-opacity-50 {
  color: black;
  opacity: 0.50;
}
.css-color-black-opacity-75 {
  color: black;
  opacity: 0.75;
}
.css-color-black {
  color: rgb(0, 0, 0);
}
.css-color-grey-1 {
  color: rgb(126 121 130);
}
.css-color-grey-2 {
  color: rgb(69 69 69);
}
.css-color-3 {
  color: rgb(89 92 135);
}
.css-color-4 {
  color: rgb(54 21 117 / 75%);
}
.css-color-5 {
  color: rgb(0 82 5 / 75%);
}
.css-color-6 {
  color: rgb(114 70 0 / 75%);
}
.css-color-7 {
  color: rgb(23, 32, 91);
}
.css-color-8 {
  color: var(--css-color-8);
}
.css-color-9 {
  color: var(--css-color-9);
}
.css-color-12 {
  color: var(--css-color-12);
}
.css-color-17 {
  color: var(--css-color-17);
}
/* ------------------- color end ------------------- */
/* ------------------- border start ------------------- */
.css-border-primary {border: 1px solid var(--css-color-primary);}
.css-border-1 {border: 1px solid black;}
.css-border-2 {border: 1px solid red;}
.css-border-3 {border: 1px solid blue;}
.css-border-4 {border: 1px solid green;}
.css-border-5-dark {border: 3px solid var(--css-color-2-dark);}
.css-border-5-light {border: 3px solid var(--css-color-2-light);}
.css-border-6-light {border: 1px solid var(--css-color-2-light);}
.css-border-7 {border: 2px solid rgb(220 223 233);}
.css-border-8 {border: 1px solid rgb(220 223 233);}
.css-border-9 {border: 1px solid rgb(0 0 0 / 10%);}
.css-border-see-through {border: 1px solid rgba(255, 255, 255, 0);}
.css-border-white {border: 1px solid rgb(255, 255, 255);}
.css-border-white-important {border: 1px solid rgb(255, 255, 255) !important;}
.css-border-white-opacity-10 {border: 1px solid rgba(255, 255, 255, 0.100);}
.css-border-white-opacity-15 {border: 1px solid rgba(255, 255, 255, 0.150);}
.css-border-white-opacity-20 {border: 1px solid rgba(255, 255, 255, 0.200);}
.css-border-white-opacity-25 {border: 1px solid rgba(255, 255, 255, 0.250);}
.css-border-white-opacity-50 {border: 1px solid rgba(255, 255, 255, 0.500);}
.css-border-white-opacity-75 {border: 1px solid rgba(255, 255, 255, 0.750);}
.css-border-black-opacity-25 {border: 1px solid rgba(0, 0, 0, 0.25);}
.css-border-black-opacity-50 {border: 1px solid rgba(0, 0, 0, 0.50);}
.css-border-black-opacity-75 {border: 1px solid rgba(0, 0, 0, 0.75);}
.css-border-glow-1 {
  box-shadow: 0px 0px 100px white;
}
.css-br-1 {
  border-radius: 15px;
}
.css-br-2-mobile {
  border-radius: 35px;
}
.css-br-3 {
  border-radius: 25px;
}
.css-br-4 {
  border-radius: 6px;
}
.css-br-5 {
  border-radius: 5px;
}
.css-brl-1 {
  border-radius: 15px 0px 0px 15px !important;
}
.css-brr-1 {
  border-radius: 0px 15px 15px 0px !important;
}
.css-br-10 {
  border-radius: 10px;
}
.css-br-15 {
  border-radius: 15px;
}
.css-br-20 {
  border-radius: 20px;
}
.css-br-25 {
  border-radius: 25px;
}
.css-br-50 {
  border-radius: 50px;
}
.css-br-500 {
  border-radius: 500px;
}
/* ------------------- border end ------------------- */
/* ------------------- director start ------------------- */
.css-no-decoration {
  list-style-type: none;
}
/* ------------------- director end ------------------- */
/* ------------------- display start ------------------- */
.css-display-flex {
  display: flex;
}
.css-display-flex-mobile {
  display: flex;
}
.css-display-flex-row-to-column-reverse-mobile, .css-display-flex-row-to-column-reverse-mobile {
  display: flex;
  flex-direction: row;
}
.css-display-block {
  display: block;
}
.css-display-inline-block {
  display: inline-block;
}
.css-mobile-display-2 {
  display: none;
}
.css-display-grid {
  display: grid;
}
/* ------------------- display end ------------------- */
/* ------------------- divider start ------------------- */
.css-divider-1 {
  border: 1px solid black;
  width: 100%;
  opacity: 0.10;
  margin: 100px 0 100px 0;
}
.css-divider-exterior-nav {
  padding-top: 80px;
}
/* ------------------- divider end ------------------- */
/* ------------------- filler start ------------------- */
.css-filler-1 {
  height: 86px;
}
.css-filler-2 {
  height: 50px;
}
.css-filler-3 {
  height: 250px;
}
.css-filler-4 {
  height: 63.5px;
}
.css-filler-5 {
  height: 75px;
}
.css-filler-1-px {
  height: 1px;
}
.css-filler-17 {
  height: 17px;
}
.css-filler-65 {
  height: 65px;
}
.css-filler-82 {
  height: 82px;
}
.css-filler-84 {
  height: 84px;
}
.css-filler-93 {
  height: 93px;
}
/* ------------------- filler end ------------------- */
/* ------------------- flex start ------------------- */
.css-fw-1 {
  flex-wrap: wrap;
}
.css-fw-2 {
  flex-wrap: nowrap;
}
.css-fw-2-mobile {
  flex-wrap: nowrap;
}
.css-f-wrap {
  flex-wrap: wrap;
}
.css-f-nowrap {
  flex-wrap: nowrap;
}
.css-f-nowrap-important {
  flex-wrap: nowrap !important;
}
.css-f-align-1 {
  align-items: center;
}
.css-f-direction-col {
  flex-direction: column;
}
.css-f-direction-row {
  flex-direction: row;
}
.css-flex-gap-25 {
  content: '';
  flex: none;
  width: 25px;
}
.css-flex-gap-50 {
  content: '';
  flex: none;
  width: 50px;
}
/* ------------------- flex end ------------------- */
/* ------------------- gap start ------------------- */
.css-gap-25 {
  gap: 25px;
}
.css-gap-50 {
  gap: 50px;
}
/* ------------------- gap end ------------------- */
/* ------------------- google start ------------------- */
.css-google-font-1 {
  font-family: 'Montserrat', sans-serif;
}
/* ------------------- google end ------------------- */
/* ------------------- grid start ------------------- */
.css-grid-container-3x2-mobile {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates 2 columns */
  grid-template-rows: repeat(3, 1fr); /* Creates 3 rows */
  grid-gap: 15px; /* Adds a 10px gap between grid items */
}
.css-grid-container-5x1 {
  display: grid;
  grid-template-columns: 1fr; /* Creates 2 columns */
  grid-template-rows: repeat(5, 1fr); /* Creates 3 rows */
  grid-gap: 15px; /* Adds a 10px gap between grid items */
}
.css-grid-1row-3col {
  grid-template-columns: repeat(3, 1fr);
}
.css-grid-1row-3col-mobile {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
.css-grid-gap-10 {
  gap: 10px;
}
.css-grid-gap-25 {
  gap: 25px;
}
/* ------------------- grid end ------------------- */
/* ------------------- header start ------------------- */
.css-header-1 {
  font-size: 40px;
}
.css-header-mobile-1 {
  font-size: 30px;
}
.css-header-30-mobile {
  font-size: 30px;
}
.css-size-3 {
  font-size: 12px;
}
.css-size-4 {
  font-size: 10px;
}
.css-header-4 {
  font-size: 20px;
}
.css-header-4-mobile {
  font-size: 20px;
}
.css-header-5 {
  font-size: 15px;
}
.css-header-5-mobile {
  font-size: 15px;
}
.css-header-6 {
  font-size: 25px;
}
.css-header-7 {
  font-size: 50px;
}
.css-header-8 {
  font-size: 8px;
}
.css-header-10 {
  font-size: 10px;
}
.css-header-12 {
  font-size: 12px;
}
.css-header-15 {
  font-size: 15px;
}
.css-header-18 {
  font-size: 18px;
}
.css-header-20 {
  font-size: 20px;
}
.css-header-20-mobile {
  font-size: 20px;
}
.css-header-25 {
  font-size: 25px;
}
.css-header-25-mobile {
  font-size: 25px;
}
.css-header-30 {
  font-size: 30px;
}
.css-header-35 {
  font-size: 35px;
}
.css-header-40 {
  font-size: 40px;
}
.css-header-40-mobile {
  font-size: 40px;
}
.css-header-45 {
  font-size: 45px;
}
.css-header-50 {
  font-size: 50px;
}
.css-header-60 {
  font-size: 60px;
}
.css-header-80 {
  font-size: 80px;
}
.css-header-80-mobile {
  font-size: 80px;
}
.css-size-18 {
  font-size: 20px;
}
.css-header-white {
  color: white;
}
.css-color-2-dark {
  color: var(--css-color-2-dark);
}
.css-color-2-light {
  color: var(--css-color-2-light);
}
/* ------------------- header end ------------------- */
/* ------------------- height start ------------------- */
.css-height-1-mobile {
  height: 700px;
}
.css-height-2-mobile {
  height: 450px;
}
.css-height-3-mobile {
  height: 450px;
}
.css-height-4 {
  height: 300px;
}
.css-height-4-mobile {
  height: 600px;
}
.css-height-5-mobile {
  height: 450px;
}
.css-height-6 {
  height: 350px;
}
.css-height-6-mobile {
  height: 600px;
}
.css-height-25 {
  height: 25px;
}
.css-height-8 {
  height: 300px;
}
.css-height-8-mobile {
  height: 500px;
}
.css-height-9 {
  height: 825px;
}
.css-height-90 {
  height: 90%;
}
.css-min-height-1 {
  min-height: 350px;
}
.css-height-77-px {
  height: 77px;
}
.css-height-100-px {
  height: 100px;
}
.css-height-100-per {
  height: 100%;
}
.css-height-150-px {
  height: 150px;
}
.css-height-200-px {
  height: 200px;
}
.css-height-300-px {
  height: 300px;
}
.css-height-400-px {
  height: 400px;
}
.css-height-500-px {
  height: 500px;
}
.css-height-600-px {
  height: 600px;
}
.css-max-height-400 {
  max-height: 400px;
}
.css-max-height-800 {
  max-height: 800px;
}
.css-vh-5 {
  height: 5vh;
}
.css-vh-90 {
  height: 90vh;
}
.css-vh-95 {
  height: 95vh;
}
.css-vh-100 {
  height: 100vh;
}
/* ------------------- height end ------------------- */
/* ------------------- highlight start ------------------- */
.css-highlight-1 {
  color: var(--css-color-primary);
  background-color: white;
}
/* ------------------- highlight end ------------------- */
/* ------------------- hover start ------------------- */
.css-hover-1 {
  cursor: pointer;
}
.css-hover-pointer-opacity-1 {
  cursor: pointer;
  transition: 0.5s;
}
.css-hover-pointer-opacity-1:hover {
  cursor: pointer;
  opacity: 1.0 !important;
  transition: 0.5s;
}
/* ------------------- hover end ------------------- */
/* ------------------- img start ------------------- */
.css-img-height-15 {
  max-height: 15px;
}
.css-img-height-18 {
  max-height: 18px;
}
.css-img-height-20 {
  max-height: 20px;
}
.css-img-height-25 {
  max-height: 25px;
}
.css-img-height-30 {
  max-height: 30px;
}
.css-img-height-35 {
  max-height: 35px;
}
.css-img-height-40 {
  max-height: 40px;
}
.css-img-height-40-mobile {
  max-height: 40px;
}
.css-img-height-50 {
  max-height: 50px;
}
.css-img-height-60 {
  max-height: 60px;
}
.css-img-height-75 {
  max-height: 75px;
}
.css-img-height-80 {
  max-height: 80px;
}
.css-img-height-100 {
  max-height: 100px;
}
.css-img-height-125 {
  max-height: 125px;
}
.css-img-height-125-mobile {
  max-height: 125px;
}
.css-img-height-150 {
  max-height: 150px;
}
.css-img-height-200 {
  max-height: 200px;
}
.css-img-height-500 {
  max-height: 500px;
}
.css-img-size-1 {
  height: 40px;
}
.css-img-size-2 {
  max-width: 25px;
}
.css-img-size-3 {
  max-width: 90%;
}
.css-img-size-4 {
  max-height: 20px;
}
.css-img-size-5 {
  width: 600px;
  max-width: 90%;
}
.css-img-size-6 {
  max-height: 100px;
}
.css-img-size-7 {
  max-height: 300px;
}
.css-img-size-7-mobile {
  max-height: 300px;
}
.css-img-size-8 {
  width: 125px;
}
.css-img-size-9 {
  width: 15px;
}
.css-img-size-10 {
  max-height: 60px;
}
.css-img-size-15 {
  max-height: 15px;
}
.css-img-size-20 {
  max-height: 20px;
}
.css-img-size-20-square {
  max-height: 20px;
  max-width: 20px;
}
.css-img-size-25 {
  max-height: 25px;
}
.css-img-size-30 {
  max-width: 30px;
}
.css-img-size-35 {
  max-width: 35px;
}
.css-img-size-40 {
  max-height: 40px;
}
.css-img-size-50 {
  max-height: 50px;
}
.css-img-size-60 {
  max-height: 60px;
}
.css-img-size-75 {
  max-height: 75px;
}
.css-img-size-100 {
  max-height: 100px;
}
.css-img-size-150 {
  max-height: 150px;
}
.css-img-opacity-1 {
  opacity: 0.20;
}
.css-img-opacity-2 {
  opacity: 0.75;
}
.css-img-opacity-3 {
  opacity: 0.40;
}
.css-img-size-11 {
  max-width: 100%;
  max-height: 500px;
}
.css-img-size-12 {
  max-height: 100px;
}
.css-img-size-13 {
  max-height: 200px;
}
.css-img-resize-1:hover {
  transform: scale(1.05);
  transition: 0.25s ease-in-out;
}
.css-opacity-1 {
  opacity: 0.50;
}
.css-opacity-1-hover {
  opacity: 0.50;
}
.css-opacity-50-hover {
  opacity: 0.50;
}
.css-opacity-75-hover {
  opacity: 0.75;
  transition: 0.5s;
}
.css-opacity-1-hover:hover, .css-opacity-75-hover:hover, .css-opacity-50-hover:hover {
  opacity: 1;
  transition: 0.5s;
  cursor: pointer;
}
.css-opacity-2 {
  opacity: 0.75;
}
.css-opacity-10 {
  opacity: 0.10;
}
.css-opacity-25 {
  opacity: 0.25;
}
.css-opacity-35 {
  opacity: 0.35;
}
.css-opacity-50 {
  opacity: 0.50;
}
.css-opacity-60 {
  opacity: 0.60;
}
.css-opacity-75 {
  opacity: 0.75;
}
.css-opacity-80-hover {
  opacity: 0.80;
}
.css-opacity-80-hover:hover {
  opacity: 1.0;
  transition: 0.33s;
}
.css-opacity-100-important {
  opacity: 1.0 !important;
}
.image-black-and-white {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
/* ------------------- img end ------------------- */
/* ------------------- infinite scroll start ------------------- */
#container-horizontal-scroll-1 {
  height:250px; 
  position:relative; 
  overflow:hidden;
}
.photobanner-horizontal-scroll-1 {
  position:absolute; 
  top:25px; 
  left:0px; 
  overflow:hidden; 
  white-space: nowrap;
  animation: bannermove 60s linear infinite;
}
@keyframes bannermove {
  0% {
      transform: translate(0, 0);
  }
  100% {
      transform: translate(-50%, 0);
  }
}
/* ------------------- infinite scroll end ------------------- */
/* ------------------- index start ------------------- */
.css-index-1 {
  z-index: 1;
}
.css-index-2 {
  z-index: 2;
}
/* ------------------- index end ------------------- */
/* ------------------- input start ------------------- */
.css-input-1 {
  visibility:hidden;
}
/* ------------------- input end ------------------- */
/* ------------------- justify start ------------------- */
.css-jc-1 {
  justify-content: space-evenly;
}
.css-jc-2 {
  justify-content: space-between;
}
.css-jc-3 {
  justify-content: center;
}
.css-jc-4 {
  justify-content: space-around;
}
.css-jc-around {
  justify-content: space-around;
}
.css-jc-between {
  justify-content: space-between;
}
.css-jc-between-mobile-center {
  justify-content: space-between;
}
.css-jc-evenly {
  justify-content: space-evenly;
}
.css-jc-center {
  justify-content: center;
}
.css-jc-start {
  justify-content: flex-start;
}
.css-jc-end {
  justify-content: flex-end;
}
/* ------------------- justify end ------------------- */
/* ------------------- jQuery start ------------------- */
.uiSearchItemVisible {
  display:inline-block;
}
.uiSearchItemVisible2 {
  display:block;
}
.uiSearchItemInvisible {
  display: none;
}
.uiSelectAllBlockVisible {
  display:inline-block;
}
.uiSelectAllBlockInvisible {
  display: none;
}
.css-visible-non-mobile-only {
  display:inline-block;
}
.css-visible-1 {
  display:inline-block;
}
.css-invisible-1 {
  display:none;
}
.css-visible-desktop {
  display: block;
}
.css-visible-mobile {
  display: none !important;
}
/* ------------------- jQuery end ------------------- */
/* ------------------- list style start ------------------- */
.css-ls-1 {
  list-style: none;
}
/* ------------------- list style end ------------------- */
/* ------------------- list style start ------------------- */
.css-line-height-12 {
  line-height: 12px;
}
.css-line-1 {
  line-height: 40px;
}
.css-line-2 {
  line-height: 30px;
}
.css-line-25 {
  line-height: 25px;
}
.css-line-30 {
  line-height: 30px;
}
.css-line-35 {
  line-height: 35px;
}
.css-line-height-40 {
  line-height: 40px;
}
/* ------------------- list style end ------------------- */
/* ------------------- line break start ------------------- */
.css-inline-block {
  display: inline-block;
}
/* ------------------- line break end ------------------- */
/* ------------------- loading screen start ------------------- */
.css-loading-screen {
  display: block;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
}
/* ------------------- loading screen end ------------------- */
/* ------------------- margin start ------------------- */
.css-m-0 {
  margin: 0 0 0 0;
}
.css-m-0-important {
  margin: 0 0 0 0 !important;
}
.css-m-1-mobile {
  margin: 15px;
}
.css-m-1 {
  margin: 10px;
}
.css-m-2 {
  margin: 20px;
}
.css-m-3 {
  margin: 5px;
}
.css-m-5 {
  margin: 5px;
}
.css-m-10 {
  margin: 10px;
}
.css-m-15 {
  margin: 15px;
}
.css-m-25 {
  margin: 25px;
}
.css-m-50 {
  margin: 50px;
}
.css-mb-1 {
  margin-bottom: 50px;
}
.css-mb-2 {
  margin-bottom: 150px;
}
.css-mb-3 {
  margin-bottom: 100px;
}
.css-mb-4 {
  margin-bottom: 10px;
}
.css-mb-5 {
  margin-bottom: 5px;
}
.css-mb-6 {
  margin-bottom: 25px;
}
.css-mb-7 {
  margin-bottom: 3px;
}
.css-mb-10 {
  margin-bottom: 10px;
}
.css-mb-15 {
  margin-bottom: 15px;
}
.css-mb-20 {
  margin-bottom: 20px;
}
.css-mb-25 {
  margin-bottom: 25px;
}
.css-mb-50 {
  margin-bottom: 50px;
}
.css-mb-75 {
  margin-bottom: 75px;
}
.css-mb-100 {
  margin-bottom: 100px;
}
.css-mb-150 {
  margin-bottom: 150px;
}
.css-mb-200 {
  margin-bottom: 200px;
}
.css-mb-negative-15 {
  margin-bottom: -15px;
}
.css-mb-negative-15-mobile {
  margin-bottom: -15px;
}
.css-mt-2 {
  margin-top: 10px;
}
.css-mt-3 {
  margin-top: 50px;
}
.css-mt-4 {
  margin-top: 5px;
}
.css-mt-5 {
  margin-top: 5px;
}
.css-mt-6 {
  margin-top: 15px;
}
.css-mt-7 {
  margin-top: 7px;
}
.css-mt-10 {
  margin-top: 10px;
}
.css-mt-15 {
  margin-top: 15px;
}
.css-mt-20 {
  margin-top: 20px;
}
.css-mt-25 {
  margin-top: 25px;
}
.css-mt-30 {
  margin-top: 30px;
}
.css-mt-50 {
  margin-top: 50px;
}
.css-mt-75 {
  margin-top: 75px;
}
.css-mt-100 {
  margin-top: 100px;
}
.css-mt-150 {
  margin-top: 150px;
}
.css-mt-negative-1 {
  margin-top: -20px;
}
.css-mt-negative-5 {
  margin-top: -5px;
}
.css-mt-negative-10 {
  margin-top: -10px;
}
.css-mt-negative-15 {
  margin-top: -15px;
}
.css-mt-negative-20 {
  margin-top: -20px;
}
.css-mt-negative-25 {
  margin-top: -25px;
}
.css-mt-negative-2 {
  margin-top: -7px;
}
.css-mt-negative-3 {
  margin-top: -5px;
}
.css-mt-negative-4-mobile {
  margin-top: -100px;
}
.css-mt-negative-100 {
  margin-top: -100px;
}
.css-mt-negative-150 {
  margin-top: -150px;
}
.css-mr-1 {
  margin-right: 5px;
}
.css-mr-2 {
  margin-right: 10px;
}
.css-mr-3 {
  margin-right: 25px;
}
.css-mr-5 {
  margin-right: 5px;
}
.css-mr-10 {
  margin-right: 10px;
}
.css-mr-15 {
  margin-right: 15px;
}
.css-mr-25 {
  margin-right: 25px;
}
.css-mr-25-mobile {
  margin-right: 25px;
}
.css-mr-100-mobile {
  margin-right: 100px;
}
.css-mr-30 {
  margin-right: 30px;
}
.css-mr-negative-25 {
  margin-right: -105px;
}
.css-ml-1 {
  margin-left: 5px;
}
.css-ml-1-negative {
  margin-left: -35px;
}
.css-ml-2-negative {
  margin-left: -40px;
}
.css-ml-3-negative {
  margin-left: -15px;
}
.css-ml-negative-25 {
  margin-left: -25px;
}
.css-ml-negative-50 {
  margin-left: -50px;
}
.css-ml-2 {
  margin-left: 25px;
}
.css-ml-3 {
  margin-left: 10px;
}
.css-ml-4 {
  margin-left: 15px;
}
.css-ml-5 {
  margin-left: 5px;
}
.css-ml-10 {
  margin-left: 10px;
}
.css-ml-15 {
  margin-left: 15px;
}
.css-ml-25 {
  margin-left: 25px;
}
.css-ml-25-mobile {
  margin-left: 25px;
}
.css-ml-50-mobile {
  margin-left: 50px;
}
.css-ml-100-mobile {
  margin-left: 100px;
}
.css-ml-30 {
  margin-left: 30px;
}
.css-ml-50 {
  margin-left: 50px;
}
.css-ml-100 {
  margin-left: 100px;
}
.css-mlr-10 {
  margin-left: 10px;
  margin-right: 10px;
}
.css-mlr-15 {
  margin-left: 15px;
  margin-right: 15px;
}
.css-mlr-20 {
  margin-left: 20px;
  margin-right: 20px;
}
.css-mlt-1 {
  margin-left: 7px;
  margin-top: 7px;
}
.css-mtb-1 {
  margin-top: 25px;
  margin-bottom: 25px;
}
.css-mtb-2 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.css-mtb-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.css-mtb-25 {
  margin-top: 25px;
  margin-bottom: 25px;
}
.css-mtb-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.css-mtb-75 {
  margin-top: 75px;
  margin-bottom: 75px;
}
.css-mtb-100 {
  margin-top: 100px;
  margin-bottom: 100px;
}
/* ------------------- margin end ------------------- */
/* ------------------- navbar start ------------------- */
.css-nav-list-desktop {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
}
.css-nav-list-desktop a {
  text-decoration: none;
}
.css-nav-list {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
}
.css-nav-list a {
  text-decoration: none;
}
.css-menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.css-menu-toggle .css-bar {
  background-color: rgb(0, 0, 0);
  height: 2px;
  width: 25px;
  margin: 3px 0;
  transition: 0.3s;
}
#sub-menu {
  opacity: 0; /* Initially transparent */
  visibility: hidden; /* Initially hidden */
  transition: opacity 0.25s ease, visibility 0.25s ease; /* Transition effect */
}
#primary-menu:hover #sub-menu {
  opacity: 1; /* Fully visible on hover */
  visibility: visible; /* Make it visible */
  z-index: auto; /* Bring it back to a normal stacking context */
}
/* ------------------- navbar end ------------------- */
/* ------------------- overflow start ------------------- */
.css-overflow-1 {
  overflow: scroll;
}
.css-overflow-y {
  overflow-y: scroll;
}
.css-overflow-x {
  overflow-y: scroll;
}
/* ------------------- overflow end ------------------- */
/* ------------------- padding start ------------------- */
.css-p-0 {
  padding: 0 0 0 0;
}
.css-p-0-important {
  padding: 0 0 0 0 !important;
}
.css-plr-0 {
  padding-left: 0;
  padding-right: 0;
}
.css-p-1 {
  padding: 10px;
}
.css-p-2 {
  padding: 25px;
}
.css-p-3 {
  padding: 12px;
}
.css-p-4 {
  padding: 50px;
}
.css-p-5 {
  padding: 5px;
}
.css-p-50-15 {
  padding: 50px 15px;
}
.css-p-6 {
  padding: 60px 15px 50px 15px;
}
.css-p-7 {
  padding: 15px;
}
.css-p-8 {
  padding: 5px;
}
.css-p-9 {
  padding: 5px 10px;
}
.css-p-10 {
  padding: 10px;
}
.css-p-15 {
  padding: 15px;
}
.css-p-20 {
  padding: 20px;
}
.css-p-25 {
  padding: 25px;
}
.css-p-30 {
  padding: 30px;
}
.css-p-35 {
  padding: 35px;
}
.css-p-50 {
  padding: 50px;
}
.css-p-50-mobile {
  padding: 50px;
}
.css-p-75 {
  padding: 75px;
}
.css-p-100 {
  padding: 100px;
}
.css-pb-1 {
  padding-bottom: 150px;
}
.css-pb-2 {
  padding-bottom: 50px;
}
.css-pb-3 {
  padding-bottom: 100px;
}
.css-pb-4 {
  padding-bottom: 10px;
}
.css-pb-5 {
  padding-bottom: 5px;
}
.css-pb-6 {
  padding-bottom: 25px;
}
.css-pb-10 {
  padding-bottom: 10px;
}
.css-pb-15 {
  padding-bottom: 15px;
}
.css-pb-25 {
  padding-bottom: 25px;
}
.css-pb-50 {
  padding-bottom: 50px;
}
.css-pb-100 {
  padding-bottom: 100px;
}
.css-pb-150 {
  padding-bottom: 150px;
}
.css-pb-200 {
  padding-bottom: 200px;
}
.css-ptb-1 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.css-ptb-2 {
  padding-top: 2px;
  padding-bottom: 2px;
}
.css-ptb-3 {
  padding-top: 50px;
  padding-bottom: 75px;
}
.css-ptb-4 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.css-ptb-6 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.css-ptb-7 {
  padding-top: 200px;
  padding-bottom: 200px;
}
.css-ptb-8 {
  padding-top: 25px;
  padding-bottom: 25px;
}
.css-ptb-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.css-ptb-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.css-ptb-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.css-ptb-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.css-ptb-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}
.css-ptb-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.css-ptb-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.css-ptb-150 {
  padding-top: 150px;
  padding-bottom: 150px;
}
.css-plr-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.css-plr-15 {
  padding-left: 15px;
  padding-right: 15px;
}
.css-plr-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.css-plr-25 {
  padding-left: 25px;
  padding-right: 25px;
}
.css-plr-35 {
  padding-left: 35px;
  padding-right: 35px;
}
.css-plr-40 {
  padding-left: 40px;
  padding-right: 40px;
}
.css-plr-50 {
  padding-left: 50px;
  padding-right: 50px;
}
.css-plr-100 {
  padding-left: 100px;
  padding-right: 100px;
}
.css-pr-5 {
  padding-right: 5px;
}
.css-pr-10 {
  padding-right: 10px;
}
.css-pr-15 {
  padding-right: 15px;
}
.css-pr-20 {
  padding-right: 20px;
}
.css-pr-25 {
  padding-right: 25px;
}
.css-pr-50 {
  padding-right: 50px;
}
.css-pt-1 {
  padding-top: 50px;
}
.css-pt-2 {
  padding-top: 150px;
}
.css-pt-3 {
  padding-top: 100px;
}
.css-pt-4 {
  padding-top: 25px;
}
.css-pt-5 {
  padding-top: 5px;
}
.css-pt-6 {
  padding-top: 75px;
}
.css-pt-7 {
  padding-top: 15px;
}
.css-pt-10 {
  padding-top: 10px;
}
.css-pt-25 {
  padding-top: 25px;
}
.css-pt-30 {
  padding-top: 30px;
}
.css-pt-40 {
  padding-top: 40px;
}
.css-pt-50 {
  padding-top: 50px;
}
.css-pt-55 {
  padding-top: 55px;
}
.css-pt-75 {
  padding-top: 75px;
}
.css-pt-100 {
  padding-top: 100px;
}
.css-pt-200 {
  padding-top: 200px;
}
.css-pt-150 {
  padding-top: 150px;
}
/* ------------------- padding end ------------------- */
/* ------------------- position start ------------------- */
.css-position-absolute {
  position: absolute;
}
.css-position-relative {
  position: relative;
}
.css-bottom-0 {
  bottom: 0;
}
.css-left-0 {
  left: 0;
}
.css-bottom-left {
  margin-top: auto;
  position: absolute;
  left: 0;
  top: 0;
}
/* ------------------- position end ------------------- */
/* ------------------- shape divider start ------------------- */
.css-shape-divider-top-1672341955 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.css-shape-divider-top-1672341955 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 199px;
}
.css-shape-divider-top-1672341955 .shape-fill {
  fill: #FFFFFF;
}

.css-shape-divider-top-1672276628 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.css-shape-divider-top-1672276628 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 299px;
}
.css-shape-divider-top-1672276628 .shape-fill {
  fill: #FFFFFF;
}

.css-shape-divider-bottom-1672276706 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.css-shape-divider-bottom-1672276706 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 300px;
}
.css-shape-divider-bottom-1672276706 .shape-fill {
  fill: #FFFFFF;
}

.css-shape-divider-top-1672337904 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.css-shape-divider-top-1672337904 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 105px;
}
.css-shape-divider-top-1672337904 .shape-fill {
  fill: #FFFFFF;
}
/** For mobile devices **/
@media (max-width: 767px) {
  .css-shape-divider-top-1672337904 svg {
      width: calc(100% + 1.3px);
      height: 100px;
  }
}

.css-shape-divider-bottom-1672337954 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.css-shape-divider-bottom-1672337954 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 105px;
}
.css-shape-divider-bottom-1672337954 .shape-fill {
  fill: #FFFFFF;
}
/** For mobile devices **/
@media (max-width: 767px) {
  .css-shape-divider-bottom-1672337954 svg {
      width: calc(100% + 1.3px);
      height: 100px;
  }
}

.css-shape-divider-top-1672426066 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.css-shape-divider-top-1672426066 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}
.css-shape-divider-top-1672426066 .shape-fill {
  fill: #FFFFFF;
  fill: rgb(255, 237, 217);
}
/** For mobile devices **/
@media (max-width: 767px) {
  .css-shape-divider-top-1672426066 svg {
      width: calc(135% + 1.3px);
      height: 100px;
  }
}

.css-shape-divider-top-1672426066-2 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.css-shape-divider-top-1672426066-2 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}
.css-shape-divider-top-1672426066-2 .shape-fill {
  fill: rgb(231 241 255);
}
/** For mobile devices **/
@media (max-width: 767px) {
  .css-shape-divider-top-1672426066-2 svg {
      width: calc(135% + 1.3px);
      height: 100px;
  }
}

.css-shape-divider-top-1682593749 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.css-shape-divider-top-1682593749 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}
.css-shape-divider-top-1682593749 .shape-fill {
  fill: #FFFFFF;
}

.css-shape-divider-bottom-1682593815 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.css-shape-divider-bottom-1682593815 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}
.css-shape-divider-bottom-1682593815 .shape-fill {
  fill: #FFFFFF;
}

.css-shape-divider-bottom-1682633731 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.css-shape-divider-bottom-1682633731 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 174px;
}
.css-shape-divider-bottom-1682633731 .shape-fill {
  fill: #FFFFFF;
}

.css-shape-divider-top-1682682943 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.css-shape-divider-top-1682682943 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}
.css-shape-divider-top-1682682943 .shape-fill {
  fill: #FFFFFF;
}

.css-shape-divider-bottom-1682683019 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.css-shape-divider-bottom-1682683019 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}
.css-shape-divider-bottom-1682683019 .shape-fill {
  fill: #FFFFFF;
}

.css-shape-divider-bottom-1686320767 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.css-shape-divider-bottom-1686320767 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 150px;
}
.css-shape-divider-bottom-1686320767 .shape-fill {
  fill: #FFFFFF;
}

.css-shape-divider-bottom-1686320767-black {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.css-shape-divider-bottom-1686320767-black svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 150px;
}
.css-shape-divider-bottom-1686320767-black .shape-fill {
  fill: #000000;
}
/* ------------------- shape divider end ------------------- */
/* ------------------- stroke start ------------------- */
.css-stroke-1 {
  -webkit-text-stroke: 0.75px black;
}
/* ------------------- stroke end ------------------- */
/* ------------------- tag start ------------------- */
.css-tag-1 {
  background-color: var(--css-color-primary);
  padding: 2px 5px;
  color: white;
}
.css-tag-category-ai {background: #5e866b;}
.css-tag-category-accounting {background: #5e866b;}
.css-tag-category-android {background: #286e3e;}
.css-tag-category-animals {background: #b8a429;}
.css-tag-category-art {background: #57a09f;}
.css-tag-category-animation {background: #b27233;}
.css-tag-category-avengers {background: #2e7eb7;}
.css-tag-category-aws {background: #b76a2f;}
.css-tag-category-angular {background: #b52f31;}
.css-tag-category-azure {background: #008ad7;}
.css-tag-category-business {background: #598357;}
.css-tag-category-books {background: #b46b8d;}
.css-tag-category-basketball {background: #c77222;}
.css-tag-category-baseball {background: #1c91c2;}
.css-tag-category-boxing {background: #c54242;}
.css-tag-category-chess {background: #9f4cba;}
.css-tag-category-csharp {background: #822c98;}
.css-tag-category-cpp {background: #436c89;}
.css-tag-category-css {background: #337a8d;}
.css-tag-category-countries {background: #5a869c;}
.css-tag-category-cloudflare {background: #9d7539;}
.css-tag-category-currency {background: #57986b;}
.css-tag-category-databricks {background: #9d3939;}
.css-tag-category-dbt {background: #b2772a;}
.css-tag-category-django {background: #39855b;}
.css-tag-category-docker {background: #2d8eae;}
.css-tag-category-drama {background: #ac1414;}
.css-tag-category-drupal {background: #2a6ea6;}
.css-tag-category-disney {background: #4f99d3;}
.css-tag-category-excel {background: #438b41;}
.css-tag-category-engineering {background: #4772a9;}
.css-tag-category-food {background: #a3672f;}
.css-tag-category-finance {background: #4a9f4c;}
.css-tag-category-football {background: #90600f;}
.css-tag-category-fashion {background: #ae4770;}
.css-tag-category-golf {background: #51b06e;}
.css-tag-category-geography {background: #d26526;}
.css-tag-category-history {background: #ac5656;}
.css-tag-category-holiday {background: #f3c813; color: black}
.css-tag-category-human_resources {background: #b95da5;}
.css-tag-category-human_centered_design {background: #438db7;}
.css-tag-category-harry_potter {background: #6a9e9e;}
.css-tag-category-javascript {background: #d49d00;}
.css-tag-category-marketing {background: #b1669a;}
.css-tag-category-marvel {background: #c02929;}
.css-tag-category-movies {background: #7152ae;}
.css-tag-category-music {background: #4c7dbe;}
.css-tag-category-nature {background: #288d2f;}
.css-tag-category-olympics {background: #7376cf;}
.css-tag-category-pop_culture {background: #3fa459;}
.css-tag-category-politics {background: #6db693;}
.css-tag-category-power_bi {background: #f3c813; color: black}
.css-tag-category-question_removed {background: #404040;}
.css-tag-category-sql {background: #597caa;}
.css-tag-category-sports {background: #42a962;}
.css-tag-category-sales {background: #3aa5c5;}
.css-tag-category-space {background: #3e3b4c;}
.css-tag-category-science {background: #ce7c7c;}
.css-tag-category-soccer {background: #2dbd9d;}
.css-tag-category-star_wars {background: #f3c813; color: black}
.css-tag-category-tv {background: #4277af;}
.css-tag-category-talent_acquisition {background: #9a7db9;}
.css-tag-category-technology {background: #b98733;}
.css-tag-category-tableau {background: #4d96a3;}
.css-tag-category-travel {background: #4f99d3;}
.css-tag-category-twitter {background: #4f99d3;}
.css-tag-category-uk {background: #d25454;}
.css-tag-category-wildfires {background: #ab2d2d;}
/* ------------------- tag end ------------------- */
/* ------------------- text start ------------------- */
.css-tal {
  text-align: left;
}
.css-tar {
  text-align: right;
}
.css-tac {
  text-align: center;
}
/* ------------------- text end ------------------- */
/* ------------------- transition start ------------------- */
.css-transition-03 {
  transition: 0.3s;
}
.css-transition-05 {
  transition: 0.3s;
}
/* ------------------- transition end ------------------- */
/* ------------------- transform start ------------------- */
li:hover i.fa-solid.fa-chevron-down {
  transform: rotateX(180deg);
  transition: transform 0.25s ease;
}
/* ------------------- transform end ------------------- */
/* ------------------- underline start ------------------- */
.css-underline-1 {
  text-decoration: underline;
}
.css-underline-2 {
  text-decoration: underline;
  text-underline-offset: 0.25em;
  text-decoration-thickness: 1px;
}
.css-underline-none {
  text-decoration: none;
}
/* ------------------- underline end ------------------- */
/* ------------------- view start ------------------- */
.css-mobile-view-1 {
  display: block;
}
.css-mobile-view-2 {
  display: none;
}
/* ------------------- view end ------------------- */
/* ------------------- weight start ------------------- */
.css-weight-1 {
  font-weight: 700;
}
.css-weight-500 {
  font-weight: 500;
}
.css-weight-700 {
  font-weight: 700;
}
.css-weight-900 {
  font-weight: 900;
}
.css-weight-bolder {
  font-weight: bolder;
}
/* ------------------- weight end ------------------- */
/* ------------------- width start ------------------- */
.css-width-1 {
  max-width: 600px;
}
.css-width-2-mobile {
  width: 600px;
}
.css-width-3 {
  max-width: 900px;
}
.css-width-4 {
  max-width: 500px;
}
.css-width-5 {
  width: 30%;
  min-width: 250px;
}
.css-width-6 {
  width: 100%;
}
.css-width-7 {
  max-width: 1200px;
}
.css-width-8 {
  width: 350px;
  max-width: 90%;
}
.css-width-9 {
  width: 100px;
}
.css-width-10 {
  width: 400px;
  max-width: 90%;
}
.css-width-11-mobile {
  width: 50%;
  max-width: 50%;
}
.css-width-12-mobile {
  width: 30%;
  max-width: 30%;
}
.css-width-12 {
  width: 80%;
}
.css-width-13 {
  width: 90%;
}
.css-width-14 {
  width: 600px;
  max-width: 90%;
}
.css-width-15 {
  width: 200px;
}
.css-width-16 {
  width: 50%;
}
.css-width-16-mobile {
  width: 50%;
}
.css-width-17 {
  width: 250px;
}
.css-width-18-mobile {
  width: 600px;
  max-width: 50%;
}
.css-width-19 {
  width: 150px;
}
.css-width-20 {
  max-width: 700px;
}
.css-width-21 {
  width: 300px;
  max-width: 90%;
}
.css-width-75 {
  width: 75%;
}
.css-width-80 {
  width: 80%;
}
.css-width-90 {
  width: 90%;
}
.css-width-95 {
  width: 95%;
}
.css-width-100 {
  width: 100%;
}
.css-width-100-mobile {
  width: 100%;
}
.css-width-10-px {
  width: 10px;
}
.css-width-30-px {
  max-width: 30px;
}
.css-width-height-40-px {
  max-width: 40px;
  max-height: 40px;
}
.css-width-50-px {
  max-width: 50px;
}
.css-width-30-px-min-max {
  min-width: 30px;
  max-width: 30px;
}
.css-width-40-px-min-max {
  min-width: 40px;
  max-width: 40px;
}
.css-width-50-px-min-max {
  min-width: 50px;
  max-width: 50px;
}
.css-width-66-px {
  max-width: 66px;
}
.css-width-100-px {
  width: 100px;
}
.css-width-150-px {
  width: 150px;
}
.css-width-175-px {
  width: 175px;
}
.css-width-180-px {
  width: 180px;
}
.css-width-200 {
  width: 200px;
  max-width: 90%;
}
.css-width-250 {
  width: 250px;
}
.css-width-275 {
  width: 275px;
}
.css-width-250-mobile {
  width: 250px;
}
.css-width-300 {
  width: 300px;
}
.css-width-400 {
  width: 400px;
  max-width: 90%;
}
.css-width-500 {
  width: 500px;
  max-width: 90%;
}
.css-width-600 {
  width: 600px;
  max-width: 90%;
}
.css-width-700 {
  width: 700px;
  max-width: 90%;
}
.css-width-800 {
  width: 800px;
  max-width: 90%;
}
.css-width-900 {
  width: 900px;
  max-width: 90%;
}
.css-width-1000 {
  width: 1000px;
  max-width: 90%;
}
.css-width-1100 {
  width: 1100px;
  max-width: 90%;
}
.css-width-1100-only {
  width: 1100px;
  max-width: 1100px;
  min-width: 1100px;
}
.css-width-1200 {
  width: 1200px;
  max-width: 90%;
}
.css-wh-1 {
  width: 50px;
  height: 50px;
}
.css-wh-2 {
  width: 30px;
  height: 30px;
}
.css-wh-3 {
  width: 30%;
  height: 0px;
}
.css-width-interior-1100 {
  min-width: 1100px;
}
.css-max-width-90 {
  max-width: 90%;
}
.css-max-width-95 {
  max-width: 95%;
}
/* ------------------- width end ------------------- */
/* ------------------- wrap start ------------------- */
.css-wrap-1 {
  white-space: nowrap;
}
.css-nowrap {
  white-space: nowrap;
}
/* ------------------- wrap end ------------------- */