@media (max-width: 1200px) {
    /* ------------------- background start ------------------- */
    .css-bg-obj-1-mobile {
      height: 40px;
      top: 425px;
      left: calc(0% - 100px);
      right: calc(50% + 200px);
      position: absolute;
      background: var(--css-color-black-faded);
    }
    .css-bg-obj-2-mobile {
      height: 40px;
      top: 450px;
      left: -10px;
      right: calc(50% + 200px);
      position: absolute;
      background: var(--css-color-primary);
    }
    .css-bg-obj-3-mobile {
      height: 40px;
      top: 700px;
      left: calc(50% + 170px);
      right: -10px;
      position: absolute;
      background: var(--css-color-primary);
      z-index: -10;
    }
    /* ------------------- background end ------------------- */
    /* ------------------- border start ------------------- */
    .css-br-2-mobile {
      border-radius: 15px;
    }
    /* ------------------- border end ------------------- */
    /* ------------------- display start ------------------- */
    .css-display-flex-mobile {
      display: block;
    }
    .css-mobile-display-1 {
      display: none;
    }
    .css-mobile-display-2 {
      display: block;
    }
    .css-display-flex-row-to-column-mobile {
      display: flex;
      flex-direction: column;
    }
    .css-display-flex-row-to-column-reverse-mobile {
      display: flex;
      flex-direction: column-reverse;
    }
    /* ------------------- display end ------------------- */
    /* ------------------- divider start ------------------- */
    .css-divider-exterior-nav {
      padding-top: 57px;
    }
    /* ------------------- divider end ------------------- */
    /* ------------------- filler start ------------------- */
    .css-filler-1-mobile {
      height: 400px;
    }
    /* ------------------- filler end ------------------- */
    /* ------------------- flex start ------------------- */
    .css-footer-mobile-1 {
      flex-direction: column;
      text-align: center;
    }
    .css-fw-2-mobile {
      flex-wrap: wrap;
    }
    /* ------------------- flex end ------------------- */
    /* ------------------- grid start ------------------- */
    .css-grid-container-3x2-mobile {
      display: grid;
      grid-template-columns: 1fr; /* Creates 2 columns */
      grid-template-rows: repeat(5, 1fr); /* Creates 3 rows */
      grid-gap: 15px; /* Adds a 10px gap between grid items */
    }
    .css-grid-1row-3col-mobile {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
    /* ------------------- grid end ------------------- */
    /* ------------------- height start ------------------- */
    .css-height-1-mobile {
      height: 1300px;
    }
    .css-height-2-mobile {
      height: 625px;
    }
    .css-height-3-mobile {
      height: 1100px;
    }
    .css-height-4-mobile {
      height: 1000px;
    }
    .css-height-5-mobile {
      height: 350px;
    }
    .css-height-6-mobile {
      height: 1000px;
    }
    .css-img-size-7-mobile {
      max-height: 200px;
    }
    .css-height-8-mobile {
      height: 800px;
    }
    .css-min-height-1-mobile {
      min-height: 550px;
    }
    /* ------------------- height end ------------------- */
    /* ------------------- header start ------------------- */
    .css-header-mobile-1 {
      font-size: 20px;
    }
    .css-header-20-mobile {
      font-size: 15px;
    }
    .css-header-30-mobile {
      font-size: 20px;
    }
    .css-header-30-mobile-2 {
      font-size: 20px;
    }
    .css-header-40-mobile {
      font-size: 25px;
    }
    .css-header-4-mobile {
      font-size: 10px;
    }
    .css-header-5-mobile {
      font-size: 10px;
    }
    .css-header-25-mobile {
      font-size: 20px;
    }
    .css-header-80-mobile {
      font-size: 45px;
    }
    /* ------------------- header end ------------------- */
    /* ------------------- image start ------------------- */
    .css-img-height-125-mobile {
      max-height: 175px;
    }
    .css-img-height-40-mobile {
      max-height: 30px;
    }
    .css-img-height-50-mobile {
      max-height: 40px;
    }
    /* ------------------- image end ------------------- */
    /* ------------------- justify content start ------------------- */
    .css-jc-between-mobile-center {
      justify-content: center;
    }
    /* ------------------- justify content end ------------------- */
    /* ------------------- margin start ------------------- */
    .css-m-1-mobile {
      margin: 5px;
    }
    .css-mtb-20-mobile {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .css-mt-negative-4-mobile {
      margin-top: -100px;
    }
    .css-mt-25-mobile {
      margin-top: 25px;
    }
    .css-mt-100-mobile {
      margin-top: 100px;
    }
    .css-mb-1-mobile {
      margin-bottom: 10px;
    }
    .css-mtb-2-mobile {
      margin: 50px 0px;
    }
    .css-mb-negative-15-mobile {
      margin-bottom: 25px;
    }
    .css-mb-5-mobile {
      margin-bottom: 5px;
    }
    .css-mb-10-mobile {
      margin-bottom: 10px;
    }
    .css-ml-25-mobile, .css-ml-50-mobile, .css-ml-100-mobile, .css-ml-200-mobile {
      margin-left: 10px;
    }
    .css-ml-25-mobile-only {
      margin-left: 25px
    }
    .css-mr-100-mobile, .css-mr-200-mobile {
      margin-right: 10px;
    }
    .css-mr-25-mobile {
      margin-right: 5px;
    }
    /* ------------------- margin end ------------------- */
    /* ------------------- navbar start ------------------- */
    .css-nav-list {
      display: none;
      width: 100%;
    }
    .css-nav-list li {
      margin: 50px 0 !important;
      display: block;
    }
    .css-nav-list.css-show {
      display: block;
    }
    .css-menu-toggle {
      display: flex;
    }
    .css-menu-toggle.css-show .css-bar:nth-child(1) {
      transform: rotate(-45deg) translate(-5px, 6px);
    }
    .css-menu-toggle.css-show .css-bar:nth-child(2) {
      opacity: 0;
    }
    .css-menu-toggle.css-show .css-bar:nth-child(3) {
      transform: rotate(45deg) translate(-5px, -6px);
    }
    /* ------------------- navbar end ------------------- */
    /* ------------------- padding start ------------------- */
    .css-p-50-mobile {
      padding: 0px;
    }
    /* ------------------- padding end ------------------- */
    /* ------------------- text start ------------------- */
    .css-text-center-mobile {
      text-align: center;
    }
    /* ------------------- text end ------------------- */
    /* ------------------- visibility start ------------------- */
    .css-visible-non-mobile-only {
      display:none;
    }
    .css-visible-desktop {
      display: none;
    }
    .css-visible-mobile {
      display: block !important;
    }
    /* ------------------- visibility end ------------------- */
    /* ------------------- view start ------------------- */
    .css-mobile-view-1 {
      display: none;
    }
    .css-mobile-view-2 {
      display: block;
    }
    /* ------------------- view end ------------------- */
    /* ------------------- width start ------------------- */
    .css-width-2-mobile {
      width: 100%;
    }
    .css-width-11-mobile {
      width: 100%;
      max-width: 100%;
    }
    .css-width-12-mobile {
      width: 100%;
      max-width: 100%;
    }
    .css-width-16-mobile {
      width: 100%;
    }
    .css-width-18-mobile {
      max-width: 90%;
    }
    .css-width-100-mobile {
      max-height: 500px;
      width: auto;
      max-width: 300px;
    }
    .css-width-100-percent-mobile {
      width: 100% !important;
    }
    .css-width-250-mobile {
      width: 90%;
    }
    /* ------------------- width end ------------------- */
  }