{% extends "navbar/interior.html" %}

{% block title %}
  <title>Roles | CVhire</title>
  <meta name="description" content="CVhire">
  <meta name="og:description" content="CVhire">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<div class="custom-width-interior-1100 mx-auto custom-plr-50">
  <!-- ------------------------------------- title start ------------------------------------- -->
  <div class="custom-pt-25 custom-display-flex custom-jc-between">
    <h2 class="custom-header-30 custom-weight-900 custom-m-0">Roles</h2>
    <a href="/roles/add" class="btn btn-primary custom-br-10"><i class="fa-solid fa-plus"></i> Add role</a>
  </div>
  <!-- ------------------------------------- title end ------------------------------------- -->
</div>
{% endblock %}