{% extends "navbar/interior.html" %}

{% block title %}
  <title>Roles | CVhire</title>
  <meta name="description" content="CVhire">
  <meta name="og:description" content="CVhire">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<div class="custom-width-interior-1100 mx-auto custom-plr-50">
  <!-- ------------------------------------- title start ------------------------------------- -->
  <div class="custom-pt-25 custom-display-flex custom-jc-between custom-mb-10">
    <h2 class="custom-header-30 custom-weight-900 custom-m-0">Roles</h2>
    <a href="/roles/add" class="btn btn-primary custom-br-10"><i class="fa-solid fa-plus"></i> Add role</a>
  </div>
  <!-- ------------------------------------- title end ------------------------------------- -->
  <!-- ------------------------------------- options start ------------------------------------- -->
  <div class="custom-header-15 custom-ptb-10 border-bottom">
      <ul class="custom-m-0 custom-p-0 custom-display-flex custom-no-decoration custom-jc-start">
        {% for k,v in page_dict_html['role_link_dict'].items() %}
          {% if v in page_dict_html['navbar_link_current'] %}
            <li><a href="{{ v }}" class="custom-mr-30 custom-plr-15 custom-br-50 custom-a-black-none custom-ptb-5 custom-bg-primary">{{ k }}</a></li>
          {% else %}
            <li><a href="{{ v }}" class="custom-mr-30 custom-plr-15 custom-br-50 custom-a-black-none custom-ptb-5 custom-bg-hover-1">{{ k }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <!-- ------------------------------------- options end ------------------------------------- -->
</div>
<!-- ------------------------------------- different role subpages start ------------------------------------- -->
{% block contentBodyRoles %}
{% endblock %}
<!-- ------------------------------------- different role subpages end ------------------------------------- -->
<!-- ------------------------------------- content start ------------------------------------- -->
<div class="custom-width-interior-1100 mx-auto custom-plr-50">
  <div class="custom-header-15 custom-mt-25">
    {% if page_dict_html['total_roles'] == 0 %}
      {% if page_dict_html['role_status_type'] == 'open' or page_dict_html['role_status_type'] == 'all' %}
        <div class="custom-width-500 mx-auto custom-bg-grey-1 custom-p-50 custom-br-10 text-center border shadow-sm">
          <a href="/roles/add" class="custom-opacity-60 custom-a-black-underline">Add your first open role</a>
        </div>
      {% elif page_dict_html['role_status_type'] == 'filled' %}
        <div class="custom-width-500 mx-auto custom-bg-grey-1 custom-p-50 custom-br-10 text-center border shadow-sm">
          <a href="/roles/open" class="custom-opacity-60 custom-a-black-underline">No filled roles</a>
        </div>
      {% elif page_dict_html['role_status_type'] == 'archive' %}
        <div class="custom-width-500 mx-auto custom-bg-grey-1 custom-p-50 custom-br-10 text-center border shadow-sm">
          <a href="/roles/open" class="custom-opacity-60 custom-a-black-underline">No archived roles</a>
        </div>
      {% endif %}
    {% else %}
      <!-- ------------------------------------- search bar start ------------------------------------- -->
      <input type="text" class="form-control" id="ui_search_bar" name="ui_search_bar" placeholder="Search (x{{ page_dict_html['total_roles_arr_of_dicts']|length }})">
      <!-- ------------------------------------- search bar end ------------------------------------- -->
      <!-- ------------------------------------- divider start ------------------------------------- -->
      <div class="custom-display-flex custom-jc-between border-bottom custom-mt-25">
        <p class="custom-m-0 custom-opacity-50 custom-header-12">Item</p>
        <p class="custom-m-0 custom-opacity-50 custom-header-12">Actions</p>
      </div>
      <!-- ------------------------------------- divider end ------------------------------------- -->
      <!-- ------------------------------------- rows content start ------------------------------------- -->
      {% for i in page_dict_html['total_roles_arr_of_dicts'] %}
        <div class="custom-ptb-25 border-bottom uiSearchItem">
          <div class="custom-display-flex custom-jc-between">
            <div>
              <a href="/roles/view/{{ i['id'] }}" class="custom-a-black-underline">{{ i['name_display'] }}</a>
            </div>
            <div class="custom-header-20">
              <ul class="custom-m-0 custom-display-flex custom-no-decoration">
                  <li><a href="/home" class="custom-ml-10 btn btn-outline-success btn-sm custom-br-10 custom-plr-20">Screen CVs</a></li>
                {% for k,v in page_dict_html['roles_table_links_dict'].items() %}
                  <li><a href="{{ v['url'] }}/{{ i['id'] }}" class="custom-a-black-none custom-opacity-50 custom-hover-pointer-opacity-1 custom-ml-30" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{ k }}"><i class="{{ v['icon'] }}"></i></a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      {% endfor %}
      <!-- ------------------------------------- rows content end ------------------------------------- -->
    {% endif %}
  </div>
</div>
<!-- ------------------------------------- content end ------------------------------------- -->
{% endblock %}