{% extends "navbar/exterior.html" %}

{% block title %}
  <title>Blog post | CVhire</title>
  <meta name="description" content="CVhire is an automated CV screening and resume parser for recruiters and HR teams. AI recruiting made simple.">
  <meta name="og:description" content="CVhire is an automated CV screening and resume parser for recruiters and HR teams. AI recruiting made simple.">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- alert start ----------------------------------- -->
{% if page_dict_html['alert_message_dict']['message'] != '' %}
<div class="alert alert-{{ page_dict_html['alert_message_dict']['type'] }} mx-auto text-center container-fluid" role="alert">
  {{ page_dict_html['alert_message_dict']['message'] }}
</div>
{% endif %}
<!-- ----------------------------------- alert end ----------------------------------- -->
<!-- ----------------------------------- content start ----------------------------------- -->
<div class="css-width-900 mx-auto">
  <!-- ----------------------------------- img start ----------------------------------- -->
  <div class="text-center css-mt-50">
    <img src="{{ page_dict_html['blog_dict']['image_url'] }}" alt="{{ page_dict_html['blog_dict']['title'] }}" class="css-width-100 css-br-25">
  </div>
  <!-- ----------------------------------- img end ----------------------------------- -->
  <!-- ----------------------------------- keywords start ----------------------------------- -->
  <div class="css-mt-50 css-mb-25 css-display-flex css-f-wrap">
    {% for k_keyword, v_keyword in page_dict_html['blog_dict']['keywords_read_dict'].items() %}
      <a href="/blog/category/{{ v_keyword['url'] }}" class="css-underline-none"><p class="css-f-nowrap-important css-m-0 css-header-8 css-br-15 css-mr-5 css-mt-5 css-plr-10 css-ptb-5 {{ v_keyword['html-bg-color'] }} {{ v_keyword['html-text-color'] }}">{{ k_keyword }}</p></a>
    {% endfor %}
  </div>
  <!-- ----------------------------------- keywords end ----------------------------------- -->
  <!-- ----------------------------------- title start ----------------------------------- -->
  <div class="css-mb-50">
    <h1 class="css-header-30">{{ page_dict_html['blog_dict']['title'] }}</h1>
    <!-- ----------------------------------- author start ----------------------------------- -->
    <div class="css-display-flex css-mt-25">
      <div>
        <a href="{{ page_dict_html['blog_dict']['author_social_url'] }}" target="_blank"><img src="{{ page_dict_html['blog_dict']['author_img_url'] }}" alt="author profile img" class="css-img-height-20 css-mr-5 css-mt-negative-5"></a>
      </div>
      <a href="{{ page_dict_html['blog_dict']['author_social_url'] }}" target="_blank" class="css-a-black-underline css-m-0 css-header-15 css-opacity-50 css-mr-15">{{ page_dict_html['blog_dict']['author'] }}</a>
      <span class="css-m-0 css-header-15 css-opacity-50"><i class="fa-regular fa-calendar css-mr-5"></i> {{ page_dict_html['blog_dict']['created_timestamp_read'] }}</span>
    </div>
    <!-- ----------------------------------- author end ----------------------------------- -->
  </div>
  <!-- ----------------------------------- title end ----------------------------------- -->
  <!-- ----------------------------------- content start ----------------------------------- -->
  {% block contentBlogPost %}
  {% endblock %}
  <!-- ----------------------------------- content end ----------------------------------- -->
  <!-- ----------------------------------- back start ----------------------------------- -->
  <div class="text-center css-mb-50">
    <a href="/signup" class="btn btn-primary css-width-100">Get started</a>
    <div class="css-mt-25">
      <a href="/blog" class="css-a-black-underline">Back</a>
    </div>
  </div>
  <!-- ----------------------------------- back end ----------------------------------- -->
</div>
<!-- ----------------------------------- content end ----------------------------------- -->
{% endblock %}