{% extends "exterior/blog/i_blog/post_general.html" %}

{% block title %}
  <title>Blog post | CVhire</title>
  <meta name="description" content="CVhire is an automated CV screening and resume parser for recruiters and HR teams. AI recruiting made simple.">
  <meta name="og:description" content="CVhire is an automated CV screening and resume parser for recruiters and HR teams. AI recruiting made simple.">
{% endblock %}

{% block contentBlogPost %}
<!-- ----------------------------------- content start ----------------------------------- -->
<div class="css-header-15 css-line-30">
  <div class="css-mb-50">
    <p>Intro</p>
  </div>
  <div class="css-mb-50">
    <h2 class="css-header-25 css-weight-bolder css-mb-25">h2 tag</h2>
    <p>Words words words</p>
  </div>
</div>
<!-- ----------------------------------- content end ----------------------------------- -->
{% endblock %}