{% extends "navbar/exterior.html" %}

{% block title %}
  <title>Privacy & terms | CVhire</title>
  <meta name="description" content="CVhire is an automated CV screening and resume parser for recruiters and HR teams. AI recruiting made simple.">
  <meta name="og:description" content="CVhire is an automated CV screening and resume parser for recruiters and HR teams. AI recruiting made simple.">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- content start ----------------------------------- -->
<div class="css-width-900 mx-auto">
  <!-- ----------------------------------- title start ----------------------------------- -->
  <div class="css-pt-50 text-center css-mb-25">
    <h2>Privacy Policy</h2>
  </div>
  <!-- ----------------------------------- title end ----------------------------------- -->
  <!-- ----------------------------------- content start ----------------------------------- -->
  <div class="css-header-20">
    <div class="css-mb-50">
      <p>Welcome to CVhire, your trusted CV screening platform. We understand the importance of privacy, especially when it comes to your personal data. Our commitment is not only to bring you a platform that helps determine the fit between resumes and job descriptions using AI but also to prioritize the safety and security of your data.</p>
    </div>
    <div class="css-mb-50">
      <p class="css-header-25">1. Collection of Your Information</p>
      <p>We collect personal details shared during the signup process. Resume or CV data uploaded by users. Job descriptions and associated details provided by recruiters or hiring firms.</p>
    </div>
    <div class="css-mb-50">
      <p class="css-header-25">2. Use of Your Information</p>
      <p>Your data is primarily used for analyzing and comparing CVs to job descriptions using our AI technology, helping determine if the candidate's resume/CV is a good match for the job description. Improving the efficiency and effectiveness of our platform. Communicating with you about your account or any updates related to our platform.</p>
    </div>
    <div class="css-mb-50">
      <p class="css-header-25">3. Data Protection</p>
      <p>Privacy: Your data remains private. We will never disclose the specifics of your personal data or the results from the AI to third parties without your explicit consent. Encryption: All data is encrypted using state-of-the-art technology to ensure that your data remains inaccessible to any unauthorized parties. Security: We employ high standards of security measures to protect your data from any unauthorized access, modification, or destruction.</p>
    </div>
    <div class="css-mb-50">
      <p class="css-header-25">4. No Selling of Data</p>
      <p>We stand firm in our commitment to your privacy: We do not, and will not, sell your data to any third parties. Your trust is paramount to us.</p>
    </div>
    <div class="css-mb-50">
      <p class="css-header-25">5. Changes to the Privacy Policy</p>
      <p>From time to time, we may update our Privacy Policy to reflect changes in our practices and services. If we make material changes in the way we collect, use, or share your personal information, we will notify you by sending you an email to the last email address you provided to us and/or by prominently posting notice of the changes on our platform.</p>
    </div>
    <div class="css-mb-50">
      <p class="css-header-25">6. Contact Us</p>
      <p>If you have any questions or concerns about this Privacy Policy or our data practices, please contact us at <a href="mailto:support@cvhire.com">support@cvhire.com</a></p>
    </div>
    <div class="css-mb-50">
      <p>Thank you for choosing CVhire. We're committed to delivering a secure and trustworthy platform for all our users.</p>
    </div>
  </div>
  <!-- ----------------------------------- content end ----------------------------------- -->
</div>
<!-- ----------------------------------- content end ----------------------------------- -->
<div class="css-border-black-opacity-25 css-width-900 mx-auto css-mt-100 css-mb-100"></div>
<!-- ----------------------------------- content start ----------------------------------- -->
<div class="css-width-900 mx-auto">
  <!-- ----------------------------------- title start ----------------------------------- -->
  <div class="css-pt-50 text-center css-mb-25">
    <h2>Terms of Service</h2>
  </div>
  <!-- ----------------------------------- title end ----------------------------------- -->
  <!-- ----------------------------------- content start ----------------------------------- -->
  <div class="css-header-20">
    <div class="css-mb-50">
      <p>Welcome to CVhire. By using our platform, you are agreeing to these terms. Please read them carefully.</p>
    </div>
    <div class="css-mb-50">
      <p class="css-header-25">1. Services Description</p>
      <p>CVhire is a platform that utilizes AI technology to scan and compare resumes with job descriptions. The results provided by our AI determine the compatibility of a resume or CV with the given job description.</p>
    </div>
    <div class="css-mb-50">
      <p class="css-header-25">2. Acceptance of Terms</p>
      <p>By accessing and using CVhire, you accept and agree to be bound by the terms and provision of this agreement. In addition, when using CVhire's services, you shall be subject to any posted guidelines or rules applicable. Any participation in this service will constitute acceptance of this agreement.</p>
    </div>
    <div class="css-mb-50">
      <p class="css-header-25">3. Data Privacy and Security</p>
      <p>Privacy: Your data remains private. We will never disclose the specifics of your personal data or the results from the AI to third parties without your explicit consent. Encryption: We ensure that all user data is encrypted using advanced technologies to protect against unauthorized access. Security: CVhire has implemented high-security measures to ensure that your data remains protected against any unauthorized access, modification, or destruction. No Selling of Data: We do not, and will not, sell your data to any third parties.</p>
    </div>
    <div class="css-mb-50">
      <p class="css-header-25">4. User Responsibilities</p>
      <p>Users are responsible for providing accurate data, both in terms of resumes and job descriptions. Users are responsible for any decisions made based on the results from our AI technology. Users should maintain the confidentiality of their account credentials.</p>
    </div>
    <div class="css-mb-50">
      <p class="css-header-25">5. Limitation of Liability</p>
      <p>While CVhire strives for accuracy, we do not guarantee that the AI results will always be error-free or that they will always be a perfect match for every job description. CVhire, its stakeholders, or employees will not be liable for any direct, indirect, incidental, or consequential damages that result from the use of, or inability to use, our platform.</p>
    </div>
    <div class="css-mb-50">
      <p class="css-header-25">6. Service Modifications</p>
      <p>CVhire reserves the right to modify or discontinue, temporarily or permanently, the service (or any part thereof) with or without notice at any time.</p>
    </div>
    <div class="css-mb-50">
      <p class="css-header-25">7. Termination</p>
      <p>CVhire reserves the right to terminate user access to the platform for any breach of these Terms of Service.</p>
    </div>
    <div class="css-mb-50">
      <p class="css-header-25">8. Changes to the Terms of Service</p>
      <p>We may modify these Terms of Service from time to time. When changes are made, we will notify users by making the revised version available on this webpage and will indicate at the top of this page the date that revisions were last made.</p>
    </div>
    <div class="css-mb-50">
      <p class="css-header-25">9. Contact Us</p>
      <p>If you have any questions or concerns about these Terms of Service or any issues related to our platform, please contact us at <a href="mailto:support@cvhire.com">support@cvhire.com</a></p>
    </div>
    <div class="css-mb-50">
      <p>By continuing to access or use our platform after those revisions become effective, you agree to be bound by the revised Terms. Thank you for using CVhire.</p>
    </div>
  </div>
  <!-- ----------------------------------- content end ----------------------------------- -->
  <!-- ----------------------------------- back button start ----------------------------------- -->
  <div class="css-width-400 mx-auto css-mt-50 css-mb-100">
    <div class="text-center css-mt-75">
      <a href="/signup" class="css-weight-bolder css-a-primary-underline-on-hover css-header-30">Get started</a>
    </div>
  </div>
  <!-- ----------------------------------- back button end ----------------------------------- -->
</div>
<!-- ----------------------------------- content end ----------------------------------- -->
{% endblock %}