{% extends "interior/roles/index.html" %}

{% block title %}
  <title>Filled roles | CVhire</title>
  <meta name="description" content="CVhire">
  <meta name="og:description" content="CVhire">
{% endblock %}

{% block contentBodyRoles %}
<div class="custom-width-interior-1100 mx-auto custom-plr-50">
  <!-- ------------------------------------- content start ------------------------------------- -->
  <div class="custom-header-18 custom-mt-25">
    {% if page_dict_html['total_roles'] == 0 %}
      <div class="custom-width-500 mx-auto custom-bg-grey-1 custom-p-50 custom-br-10 text-center border shadow-sm">
        <a href="/roles/open" class="custom-opacity-60 custom-a-black-underline">No filled roles</a>
      </div>
    {% else %}
      <p class="custom-m-0">Filled</p>
    {% endif %}
  </div>
  <!-- ------------------------------------- content end ------------------------------------- -->
</div>
{% endblock %}