{% extends "aaa_base/base.html" %}

<!-- head tag block content -->
{% block title %}
  <title>exterior.html</title>
{% endblock %}

{% block contentBody %}
<body class="css-google-font-1">
  {% if page_dict_html['nav_header'] == true %}
    <!-- ------------------------------------- navbar start ------------------------------------- -->
    <nav class="fixed-top container-fluid shadow-sm css-display-flex css-jc-between css-p-10 css-bg-white">
      <div class="css-ml-100-mobile">
        <a href="/" class="css-a-black-none" id="css-home-button"><p class="css-m-0 css-header-25"><img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/logo_v2_green.png" alt="CVhire logo" class="css-img-height-30 css-mt-negative-5"> CVhire</p></a>
      </div>
      <div class="css-display-block my-auto css-mr-100-mobile">
        <!-- ------------------------------------- primary menu start ------------------------------------- -->
        <ul class="css-nav-list my-auto css-color-black">
          {% for k,v in page_dict_html['navbar_dict'].items() %}
            <li id="primary-menu" class="my-auto css-mlr-15 css-header-15">{{ v['header'] }} <i class="fa-solid fa-chevron-down"></i>
              <!-- ------------------------------------- sub menu start ------------------------------------- -->
              <ul id="sub-menu" class="css-no-decoration css-p-20 css-m-0 css-position-absolute shadow css-bg-white css-br-15 css-ml-negative-25">
                {% for k2,v2 in v['sections'].items() %}
                  <li class="css-ptb-10 css-display-flex">
                    <a href="{{ v2['url'] }}" class="css-color-success-hover css-display-flex">
                      <div class="text-center">
                        <i class="{{ v2['icon'] }} css-mr-10 css-header-30 css-mt-5 css-width-50-px-min-max"></i>
                      </div>
                      <div>
                        <span class="css-m-0 css-p-0 css-header-15 css-display-block">{{ v2['title'] }}</span>
                        <span class="css-m-0 css-p-0 css-header-12 css-display-block">{{ v2['description'] }}</span>
                      </div>
                    </a>
                  </li>
                {% endfor %}
              </ul>
              <!-- ------------------------------------- sub menu end ------------------------------------- -->
            </li>
          {% endfor %}
          <li class="my-auto"><a href="/login" class="css-a-black-underline css-mlr-15">Login</a></li>
          <li class="my-auto"><a href="/signup" class="btn btn-primary css-mlr-15">Get started</a></li>
        </ul>
        <!-- ------------------------------------- primary menu end ------------------------------------- -->
      </div>
      <div class="css-menu-toggle css-mt-5 css-mr-25" id="css-mobile-menu">
        <span class="css-bar"></span>
        <span class="css-bar"></span>
        <span class="css-bar"></span>
      </div>
    </nav>
    <div class="css-divider-exterior-nav"></div>
    <!-- ------------------------------------- navbar end ------------------------------------- -->
  {% endif %}
  <!-- ------------------------------------- child pages start ------------------------------------- -->
  {% block contentBodyExceptNavbarAndFooter %}
  {% endblock %}
  <!-- ------------------------------------- child pages end ------------------------------------- -->
  {% if page_dict_html['nav_header'] == true %}
    <!-- ------------------------------------- above footer every page start ------------------------------------- -->
    <!-- ------------------------------------- content start ------------------------------------- -->
    <div class="container-fluid css-bg-color-primary css-height-25"></div>
    <!-- ------------------------------------- content end ------------------------------------- -->
    <!-- ------------------------------------- content start ------------------------------------- -->
    <div class="container-fluid css-bg-black-2 css-color-white">
      <div class="css-width-1200 mx-auto">
        <p class="css-header-40-mobile css-weight-bolder css-m-0 css-ptb-150">On average, CVhire users save 15 hours per month of busywork.</p>
      </div>
    </div>
    <!-- ------------------------------------- content end ------------------------------------- -->
    <!-- ------------------------------------- content start ------------------------------------- -->
    <div class="container-fluid css-bg-color-success css-height-25"></div>
    <!-- ------------------------------------- content end ------------------------------------- -->
    <!-- ------------------------------------- content start ------------------------------------- -->
    <div class="css-width-1200 mx-auto css-pt-100 text-center">
      <p class="css-header-40-mobile css-weight-bolder css-m-0">Trusted by over 5,000 companies big and small.</p>
      <div class="css-display-flex css-mt-50 css-mb-100 css-jc-between css-fw-1">
        <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/company_logo_wide_google.png" alt="google" class="css-img-height-50 css-m-25">
        <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/company_logo_wide_square.png" alt="square" class="css-img-height-50 css-m-25">
        <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/company_logo_wide_amazon.png" alt="amazon" class="css-img-height-50 css-m-25">
        <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/company_logo_wide_notion.png" alt="notion" class="css-img-height-50 css-m-25">
        <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/company_logo_wide_github.png" alt="github" class="css-img-height-50 css-m-25">
        <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/company_logo_wide_hellofresh.png" alt="hellofresh" class="css-img-height-50 css-m-25">
        <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/company_logo_wide_surveymonkey.png" alt="surveymonkey" class="css-img-height-50 css-m-25">
        <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/company_logo_wide_prudential.png" alt="prudential" class="css-img-height-50 css-m-25">
        <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/company_logo_wide_netflix.png" alt="netflix" class="css-img-height-50 css-m-25">
        <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/company_logo_wide_grammarly.png" alt="grammarly" class="css-img-height-50 css-m-25">
        <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/company_logo_wide_hinge.png" alt="hinge" class="css-img-height-50 css-m-25">
        <img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/company_logo_wide_capitalone.png" alt="capitalone" class="css-img-height-50 css-m-25">
      </div>
    </div>
    <!-- ------------------------------------- content end ------------------------------------- -->
    {% if page_dict_html['is_blog_page'] == false %}
      <div class="container-fluid css-bg-grey-1 css-pb-100 css-pt-100">
        <!-- ------------------------------------- latest blog post start ------------------------------------- -->
        <div class="css-width-1200 mx-auto">
          <div class="text-center">
            <h2 class="css-header-30-mobile css-weight-bolder css-mb-50">Checkout our latest blog posts</h2>
          </div>
          <!-- ----------------------------------- all posts start ----------------------------------- -->
          <div class="css-display-flex css-jc-between-mobile-center css-f-wrap css-gap-50">
            {% for i_post in page_dict_html['db_arr_dicts'] %}
              <div class="css-width-300 border shadow css-bg-white">
                <!-- ----------------------------------- img start ----------------------------------- -->
                <div>
                  <a href="/blog/{{ i_post['slug'] }}"><img src="{{ i_post['image_url'] }}" alt="blog photo" class="css-img-height-200 css-width-100"></a>
                </div>
                <!-- ----------------------------------- img end ----------------------------------- -->
                <!-- ----------------------------------- words start ----------------------------------- -->
                <div class="css-p-10">
                  <!-- ----------------------------------- title and details start ----------------------------------- -->
                  <div class="css-mb-15">
                    <h2 class="css-m-0 css-header-20 css-mt-15"><a href="/blog/{{ i_post['slug'] }}" class="css-a-black-underline">{{ i_post['title'] }}</a></h2>
                    <p class="css-m-0 css-header-12 css-opacity-50 css-mt-15">{{ i_post['details'] }}</p>
                  </div>
                  <!-- ----------------------------------- title and details end ----------------------------------- -->
                  <!-- ----------------------------------- authored start ----------------------------------- -->
                  <div class="css-display-flex">
                    <div>
                      <a href="{{ i_post['author_social_url'] }}" target="_blank"><img src="{{ i_post['author_img_url'] }}" alt="author profile img" class="css-img-height-20 css-mr-5 css-mt-negative-5"></a>
                    </div>
                    <a href="{{ i_post['author_social_url'] }}" target="_blank" class="css-a-black-underline css-m-0 css-header-15 css-opacity-50 css-mr-15">{{ i_post['author'] }}</a>
                    <a href="/blog/{{ i_post['slug'] }}" class="css-a-black-underline css-m-0 css-header-15 css-opacity-50"><i class="fa-regular fa-calendar css-mr-5"></i> {{ i_post['created_timestamp_read'] }}</a>
                  </div>
                  <!-- ----------------------------------- authored end ----------------------------------- -->
                  <!-- ----------------------------------- keywords start ----------------------------------- -->
                  <div class="css-display-flex css-f-wrap css-mt-10 css-mb-10">
                    {% for k_keyword, v_keyword in i_post['keywords_read_dict'].items() %}
                      <a href="/blog/category/{{ v_keyword['url'] }}" class="css-underline-none"><p class="css-f-nowrap-important css-m-0 css-header-8 css-br-15 css-mr-5 css-mt-5 css-plr-10 css-ptb-5 {{ v_keyword['html-bg-color'] }} {{ v_keyword['html-text-color'] }}">{{ k_keyword }}</p></a>
                    {% endfor %}
                  </div>
                  <!-- ----------------------------------- keywords end ----------------------------------- -->
                </div>
              </div>
              <!-- ----------------------------------- words end ----------------------------------- -->
            {% endfor %}
          </div>
          <div class="text-center css-mt-75">
            <a href="/blog" class="btn btn-outline-success btn-lg css-plr-100">See all blog posts</a>
          </div>
          <!-- ----------------------------------- all posts end ----------------------------------- -->
        </div>
        <!-- ------------------------------------- latest blog post end ------------------------------------- -->
      </div>
    {% endif %}
    <!-- ------------------------------------- above footer every page end ------------------------------------- -->
    <!-- ------------------------------------- footer start ------------------------------------- -->
    <footer class="container-fluid css-bg-black css-color-white css-pt-100 css-pb-150">
      <div class="css-width-1200 mx-auto css-position-relative">
        <!-- ------------------------------------- grid start ------------------------------------- -->
        <div class="css-color-white css-display-grid css-grid-1row-3col-mobile css-gap-25">
          <!-- ------------------------------------- grid column start ------------------------------------- -->
          <div>
            <a href="/signup" class="css-a-black-none" id="css-home-button"><p class="css-m-0 css-header-40-mobile css-color-white"><img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/logo_v2_white.png" alt="" class="css-img-height-40-mobile css-mt-negative-10"> CVhire</p></a>
            <p>Applicant Tracking System with AI</p>
          </div>
          <!-- ------------------------------------- grid column end ------------------------------------- -->
          <!-- ------------------------------------- grid column start ------------------------------------- -->
          <div>
            <ul class="css-no-decoration">
              <li class="css-mb-10"><a href="/blog" class="css-a-white-underline">Blog</a></li>
              <li class="css-mb-10"><a href="mailto:support@cvhire.com" class="css-a-white-underline">Contact</a></li>
              <li class="css-mb-10"><a href="/signup" class="css-a-white-underline">Create account</a></li>
              <li class="css-mb-10"><a href="/login" class="css-a-white-underline">Login</a></li>
              <li class="css-mb-10"><a href="/feature/one-role-many-cvs" class="css-a-white-underline">One role, many CVs</a></li>
            </ul>
          </div>
          <!-- ------------------------------------- grid column end ------------------------------------- -->
          <!-- ------------------------------------- grid column start ------------------------------------- -->
          <div>
            <ul class="css-no-decoration">
              <li class="css-mb-10"><a href="/feature/one-cv-many-roles" class="css-a-white-underline">One CV, many roles</a></li>
              <li class="css-mb-10"><a href="/feature/ask-ai" class="css-a-white-underline">Ask AI</a></li>
              <li class="css-mb-10"><a href="/feature/export" class="css-a-white-underline">Export</a></li>
              <li class="css-mb-10"><a href="/privacy" class="css-a-white-underline">Privacy</a></li>
              <li class="css-mb-10"><a href="/privacy" class="css-a-white-underline">Terms & conditions</a></li>
            </ul>
          </div>
          <!-- ------------------------------------- grid column end ------------------------------------- -->
        </div>
        <!-- ------------------------------------- grid end ------------------------------------- -->
        <!-- ------------------------------------- social start ------------------------------------- -->
        <!-- <div class="css-position-absolute css-bottom-0 css-border-3">
          <a href="https://twitter.com/CVHire_"><i class="fa-brands fa-square-x-twitter css-a-white-none"></i></a>
        </div> -->
        <!-- ------------------------------------- social end ------------------------------------- -->
      </div>
    </footer>
    <!-- ------------------------------------- footer end ------------------------------------- -->
  {% endif %}
</body>
{% endblock %}