{% extends "aaa_base/base.html" %}

<!-- head tag block content -->
{% block title %}
  <title>exterior.html</title>
{% endblock %}

{% block contentBody %}
<body class="css-google-font-1">
  {% if page_dict_html['nav_header'] == true %}
    <!-- ------------------------------------- navbar start ------------------------------------- -->
    <div class="fixed-top container-fluid shadow-sm css-display-flex css-jc-between css-p-10 css-bg-white">
      <div class="css-ml-25-mobile">
        <a href="/" class="css-a-black-none" id="css-home-button"><p class="css-m-0 css-header-40-mobile"><img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/logo_v2_green.png" alt="" class="css-img-height-40-mobile css-mt-negative-10"> CVhire</p></a>
      </div>
      <div class="css-display-block my-auto">
        <ul class="css-nav-list my-auto">
          <li class="my-auto"><a href="/blog" class="css-a-black-underline css-mlr-15">Blog</a></li>
          <li class="my-auto"><a href="/login" class="css-a-black-underline css-mlr-15">Login</a></li>
          <li class="my-auto"><a href="/signup" class="btn btn-primary css-mlr-15">Get started</a></li>
        </ul>
      </div>
      <div class="css-menu-toggle css-mt-5" id="css-mobile-menu">
        <span class="css-bar"></span>
        <span class="css-bar"></span>
        <span class="css-bar"></span>
      </div>
    </div>
    <div class="css-divider-exterior-nav"></div>
    <!-- ------------------------------------- navbar end ------------------------------------- -->
  {% endif %}
  <!-- ------------------------------------- child pages start ------------------------------------- -->
  {% block contentBodyExceptNavbarAndFooter %}
  {% endblock %}
  <!-- ------------------------------------- child pages end ------------------------------------- -->
  {% if page_dict_html['nav_header'] == true %}
    <!-- ------------------------------------- footer start ------------------------------------- -->
    <div class="container-fluid css-bg-black css-color-white">
      <div class="css-width-1200 mx-auto">
        <!-- ------------------------------------- side by side start ------------------------------------- -->
        <div class="css-display-flex css-display-flex-row-to-column-mobile css-mt-50 css-gap-25">
          <div class="text-center css-width-100 css-mt-50 css-mb-50">
            <a href="/signup"><img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/logo_v2_white.png" alt="" class="css-width-100-mobile css-p-50-mobile"></a>
          </div>
          <div class="css-width-100 my-auto css-ptb-25">
            <h2 class="css-header-40-mobile css-weight-bolder css-mb-15">CV screening with AI</h2>
            <h2 class="css-header-20-mobile css-weight-bolder css-mb-25">Contact: <a href="mailto:support@cvhire.com" class="css-a-white-underline">Support@CVhire.com</a></h2>
            <div class="css-mt-25 css-mb-50">
              <a href="/login" class="btn btn-outline-primary btn-lg css-plr-40">Login</a>
              <a href="/signup" class="btn btn-success btn-lg css-ml-15">Get started</a>
            </div>
          </div>
        </div>
        <!-- ------------------------------------- side by side end ------------------------------------- -->
      </div>
    </div>
    <!-- ------------------------------------- footer end ------------------------------------- -->
  {% endif %}
</body>
{% endblock %}