{% extends "aaa_base/base.html" %}

<!-- head tag block content -->
{% block title %}
  <title>exterior.html</title>
{% endblock %}

{% block contentBody %}
<body class="custom-google-font-1">
  <!-- ------------------------------------- navbar start ------------------------------------- -->
  <div class="fixed-top container-fluid shadow-sm custom-display-flex custom-jc-between custom-p-10 custom-bg-white">
    <div class="custom-ml-25-mobile">
      <a href="/" class="custom-a-black-none"><p class="custom-m-0 custom-header-40-mobile"><img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/logo_v2_green.png" alt="" class="custom-img-height-40-mobile custom-mt-negative-10"> CVhire</p></a>
    </div>
    <div class="my-auto custom-mr-25-mobile">
      <a href="/login" class="custom-a-black-underline">Login</a>
      <a href="/login" class="btn btn-primary custom-ml-15">Get started</a>
    </div>
  </div>
  <div class="custom-divider-exterior-nav"></div>
  <!-- ------------------------------------- navbar end ------------------------------------- -->
  {% block contentBodyExceptNavbarAndFooter %}
  {% endblock %}
  <!-- ------------------------------------- footer start ------------------------------------- -->
  <!-- ------------------------------------- footer end ------------------------------------- -->
</body>
{% endblock %}