{% extends "aaa_base/base.html" %}

<!-- head tag block content -->
{% block title %}
  <title>base2_exterior.html</title>
{% endblock %}

{% block contentBody %}
<body class="custom-google-font-1">
  <!-- ------------------------------------- navbar start ------------------------------------- -->
  <nav class="custom-width-interior-1100 mx-auto shadow-sm">
    <!-- ------------------------------------- section 1 start ------------------------------------- -->
    <div class="custom-display-flex custom-jc-between custom-ptb-10 custom-plr-50 custom-header-18 custom-bg-grey-1">
      <a href="/home" class="custom-a-black-none">CVhire</a>
      <a href="/account" class="custom-a-black-none" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Edit"><img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/logo_v2_green.png" alt="" class="custom-img-size-20 custom-mt-negative-5 custom-mr-5">{{ page_dict_html['company_name'] }}</a>
      <ul class="custom-m-0 custom-display-flex custom-no-decoration">
        {% for k,v in page_dict_html['navbar_link_dict_v2'].items() %}
          {% if v['url'] in page_dict_html['navbar_link_current'] %}
            <li><a href="{{ v['url'] }}" class="custom-a-black-none custom-plr-15" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="{{ k }}"><i class="{{ v['icon'] }}"></i></a></li>
          {% else %}
            <li><a href="{{ v['url'] }}" class="custom-a-black-none custom-opacity-50 custom-hover-pointer-opacity-1 custom-plr-15" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="{{ k }}"><i class="{{ v['icon'] }}"></i></a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <!-- ------------------------------------- section 1 end ------------------------------------- -->
    <!-- ------------------------------------- section 2 start ------------------------------------- -->
    <div class="custom-ptb-10 custom-header-15 border custom-bg-white">
      <ul class="custom-m-0 custom-display-flex custom-no-decoration">
        {% for k,v in page_dict_html['navbar_link_dict'].items() %}
          {% if v in page_dict_html['navbar_link_current'] %}
            <li><a href="{{ v }}" class="custom-mlr-15 custom-plr-15 custom-br-50 custom-ptb-5 custom-bg-primary custom-a-black-none">{{ k }}</a></li>
          {% else %}
            <li><a href="{{ v }}" class="custom-mlr-15 custom-plr-15 custom-br-50 custom-ptb-5 custom-a-black-none custom-bg-hover-1">{{ k }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <!-- ------------------------------------- section 2 end ------------------------------------- -->
  </nav>
  <!-- ----------------------------------- alert start ----------------------------------- -->
  {% if page_dict_html['alert_message_dict']['message'] != '' %}
  <div class="alert alert-{{ page_dict_html['alert_message_dict']['type'] }} mx-auto text-center container-fluid" role="alert">
    {{ page_dict_html['alert_message_dict']['message'] }}
  </div>
  {% endif %}
  <!-- ----------------------------------- alert end ----------------------------------- -->
  <!-- ------------------------------------- navbar end ------------------------------------- -->
  {% block contentBodyExceptNavbarAndFooter %}
  {% endblock %}
  <!-- ------------------------------------- footer start ------------------------------------- -->
  <!-- ------------------------------------- footer end ------------------------------------- -->
</body>
{% endblock %}