{% extends "aaa_base/base.html" %}

<!-- head tag block content -->
{% block title %}
  <title>base2_exterior.html</title>
{% endblock %}

{% block contentBody %}
<body class="custom-google-font-1">
  <!-- ------------------------------------- navbar start ------------------------------------- -->
  <nav class="custom-width-interior-1100 mx-auto custom-display-flex custom-jc-between custom-p-10 custom-header-18 custom-bg-grey-1">
    <a href="/" class="custom-a-black-none">CVhire</a>
    <a href="/" class="custom-a-black-none" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Edit"><img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/logo_v2_green.png" alt="" class="custom-img-size-20 custom-mt-negative-5 custom-mr-5">{{ page_dict_html['company_name'] }}</a>
    <ul class="custom-m-0 custom-display-flex custom-no-decoration">
      <li><a href="/" class="custom-a-black-none custom-opacity-50 custom-hover-pointer-opacity-1 custom-plr-15" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Help"><i class="fa-solid fa-circle-question"></i></a></li>
      <li><a href="/" class="custom-a-black-none custom-opacity-50 custom-hover-pointer-opacity-1 custom-plr-20" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Notifications"><i class="fa-solid fa-bell"></i></a></li>
      <li><a href="/" class="custom-a-black-none custom-opacity-50 custom-hover-pointer-opacity-1 custom-plr-20" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Settings"><i class="fa-solid fa-gear"></i></a></li>
      <li><a href="/" class="custom-a-black-none custom-opacity-50 custom-hover-pointer-opacity-1 custom-plr-20" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Account"><i class="fa-solid fa-user custom-a-black"></i></a></li>
    </ul>
  </nav>
  <!-- ------------------------------------- navbar end ------------------------------------- -->
  {% block contentBodyExceptNavbarAndFooter %}
  {% endblock %}
  <!-- ------------------------------------- footer start ------------------------------------- -->
  <!-- ------------------------------------- footer end ------------------------------------- -->
</body>
{% endblock %}