{% extends "navbar/interior.html" %}

{% block title %}
  <title>Dashboard | CVhire</title>
  <meta name="description" content="CVhire">
  <meta name="og:description" content="CVhire">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<div class="custom-width-interior-1100 mx-auto custom-plr-50">
  <!-- ------------------------------------- title start ------------------------------------- -->
  <div class="custom-pt-25 custom-display-flex custom-jc-between custom-mb-10">
    <h2 class="custom-header-30 custom-weight-900 custom-m-0">{{ page_dict_html['dashboard_name'] }}</h2>
  </div>
  <!-- ------------------------------------- title end ------------------------------------- -->
  <!-- ------------------------------------- options start ------------------------------------- -->
  <div class="custom-header-15 custom-ptb-10 border-bottom">
      <ul class="custom-m-0 custom-p-0 custom-display-flex custom-no-decoration custom-jc-start">
        {% for k,v in page_dict_html['dashboard_section_links_dict'].items() %}
          {% if v in page_dict_html['navbar_link_current'] %}
            <li><a href="{{ v }}" class="custom-mr-30 custom-plr-15 custom-br-50 custom-a-black-none custom-ptb-5 custom-bg-primary">{{ k }}</a></li>
          {% else %}
            <li><a href="{{ v }}" class="custom-mr-30 custom-plr-15 custom-br-50 custom-a-black-none custom-ptb-5 custom-bg-hover-1">{{ k }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <!-- ------------------------------------- options end ------------------------------------- -->
</div>
<!-- ------------------------------------- different dashboard subpages start ------------------------------------- -->
{% block contentBodyDashboard %}
{% endblock %}
<!-- ------------------------------------- different dashboard subpages end ------------------------------------- -->
<!-- ------------------------------------- content start ------------------------------------- -->
<div class="custom-width-interior-1100 mx-auto custom-plr-50">
  <div class="custom-header-15 custom-mt-25">
    <!-- ------------------------------------- no content start ------------------------------------- -->
    {% if page_dict_html['content_total_rows'] == 0 %}
      {% if page_dict_html['starting_route'] == 'export' %}
        {% if page_dict_html['url_status_code'] == 'export_results' %}
          <div class="custom-width-500 mx-auto custom-bg-grey-1 custom-p-50 custom-br-10 text-center border shadow">
            <a href="/ai/one-role-many-cvs" class="custom-opacity-60 custom-a-black-underline"><i class="fa-solid fa-plus"></i> Screen CVs</a>
          </div>
        {% endif %}
      {% endif %}
    <!-- ------------------------------------- no content end ------------------------------------- -->
    <!-- ------------------------------------- yes content start ------------------------------------- -->
    {% else %}
      <!-- ------------------------------------- content start ------------------------------------- -->
      {% if page_dict_html['starting_route'] == 'export' %}
        <form method="POST" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
          <div class="custom-mt-50 custom-width-500 mx-auto border custom-p-50 custom-br-15 shadow">
            <!-- ------------------------------------- title and subtitle start ------------------------------------- -->
            <h1 class="custom-header-30"><img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/logo_v2_green.png" alt="" class="custom-img-height-35"> CVhire <span class="custom-header-20">| Simple export</span></h1>
            <div class="custom-mtb-25 custom-opacity-50">
              <p class="custom-m-0 custom-mb-5 custom-header-15"><i class="fa-regular fa-envelope"></i> {{ page_dict_html['current_user_email'] }}</p>
              <p class="custom-m-0 custom-header-12">Please check your spam folder as well.</p>
            </div>
            <!-- ------------------------------------- title and subtitle end ------------------------------------- -->
            <!-- ------------------------------------- submit start ------------------------------------- -->
            <button type="submit" class="btn btn-primary btn-lg custom-br-10 custom-width-100">Export</button>
            <!-- ------------------------------------- submit end ------------------------------------- -->
            <div class="text-center custom-mt-15">
              <a href="/ai/one-role-many-cvs" class="custom-a-black-underline custom-opacity-50">Home</a>
            </div>
          </div>
        </form>
      {% elif page_dict_html['starting_route'] == 'help' %}
      <form method="POST" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
        <div class="custom-mt-50 custom-width-900 mx-auto border custom-p-50 custom-br-15 shadow">
          <!-- ------------------------------------- title and subtitle start ------------------------------------- -->
          <h1 class="custom-header-30"><img src="https://cvhirepublicobjects.s3.us-east-2.amazonaws.com/logo_v2_green.png" alt="" class="custom-img-height-35"> CVhire <span class="custom-header-20">| Help center</span></h1>
          <div class="custom-mtb-25 custom-opacity-50">
            <a href="mailto:support@cvhire.com" class="custom-header-15 custom-a-black-underline">Support@CVhire.com</a>
          </div>
          <!-- ------------------------------------- title and subtitle end ------------------------------------- -->
          <!-- ------------------------------------- requirements start ------------------------------------- -->
          <div class="custom-pb-50">
            <label for="uiFeedback" class="form-label">Ticket <i class="fa-solid fa-circle-info custom-opacity-50" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Less than 1,000 characters."></i></label>
            <textarea class="form-control" id="uiFeedback" name="uiFeedback" rows="7" required></textarea>
          </div>
          <!-- ------------------------------------- requirements end ------------------------------------- -->
          <!-- ------------------------------------- submit start ------------------------------------- -->
          <button type="submit" class="btn btn-primary btn-lg custom-br-10 custom-width-100">Submit</button>
          <!-- ------------------------------------- submit end ------------------------------------- -->
          <div class="text-center custom-mt-15">
            <a href="/ai/one-role-many-cvs" class="custom-a-black-underline custom-opacity-50">Home</a>
          </div>
        </div>
      </form>
      {% endif %}
      <!-- ------------------------------------- content end ------------------------------------- -->
    {% endif %}
    <!-- ------------------------------------- yes content end ------------------------------------- -->
  </div>
</div>
<!-- ------------------------------------- content end ------------------------------------- -->
{% endblock %}