{% extends "navbar/interior.html" %}

{% block title %}
  <title>Dashboard | CVhire</title>
  <meta name="description" content="CVhire">
  <meta name="og:description" content="CVhire">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<div class="css-width-interior-1100 mx-auto css-plr-50">
  <!-- ------------------------------------- title start ------------------------------------- -->
  <div class="css-pt-25 css-display-flex css-jc-between css-mb-10">
    <h2 class="css-header-30 css-weight-900 css-m-0">{{ page_dict_html['dashboard_name'] }}</h2>
    {% if page_dict_html['dashboard_action'] != 'no action' %}
      <a href="{{ page_dict_html['dashboard_action_link'] }}" class="btn btn-primary css-br-10"><i class="fa-solid fa-plus"></i> {{ page_dict_html['dashboard_action'] }}</a>
    {% endif %}
  </div>
  <!-- ------------------------------------- title end ------------------------------------- -->
  <!-- ------------------------------------- options start ------------------------------------- -->
  <div class="css-header-15 css-ptb-10 border-bottom">
      <ul class="css-m-0 css-p-0 css-display-flex css-no-decoration css-jc-start">
        {% for k,v in page_dict_html['dashboard_section_links_dict'].items() %}
          {% if v in page_dict_html['navbar_link_current'] %}
            <li><a href="{{ v }}" class="css-mr-30 css-plr-15 css-br-50 css-a-black-none css-ptb-5 css-bg-secondary">{{ k }}</a></li>
          {% else %}
            <li><a href="{{ v }}" class="css-mr-30 css-plr-15 css-br-50 css-a-black-none css-ptb-5 css-bg-hover-1">{{ k }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <!-- ------------------------------------- options end ------------------------------------- -->
</div>
<!-- ------------------------------------- different dashboard subpages start ------------------------------------- -->
{% block contentBodyDashboard %}
{% endblock %}
<!-- ------------------------------------- different dashboard subpages end ------------------------------------- -->
<!-- ------------------------------------- content start ------------------------------------- -->
<div class="css-width-interior-1100 mx-auto css-plr-50">
  <div class="css-header-15 css-mt-25">
    <!-- ------------------------------------- results message and refresh start ------------------------------------- -->
    {% if page_dict_html['queue_status'] == true %}
      <div class="css-width-900 mx-auto css-mt-50 css-mb-50 border shadow-lg css-p-75 css-br-15">
        <div class="alert alert-success" role="alert">Automated screening can take 1-2 minutes, please click below to load results when ready.</div>
        <a href="/results/valid" class="btn btn-success btn-lg css-width-100">Refresh</a>
      </div>
    {% endif %}
    <!-- ------------------------------------- results message and refresh end ------------------------------------- -->
    <!-- ------------------------------------- no content start ------------------------------------- -->
    {% if page_dict_html['content_total_rows'] == 0 %}
      {% if page_dict_html['starting_route'] == 'roles' %}
        {% if page_dict_html['url_status_code'] == 'open' or page_dict_html['url_status_code'] == 'all' %}
          <div class="css-width-600 mx-auto css-bg-grey-1 css-p-50 css-br-10 text-center border shadow">
            <a href="/roles/add" class="css-opacity-60 css-a-black-underline"><i class="fa-solid fa-plus"></i> Add your first open role</a>
          </div>
        {% elif page_dict_html['url_status_code'] == 'filled' %}
          <div class="css-width-600 mx-auto css-bg-grey-1 css-p-50 css-br-10 text-center border shadow">
            <a href="/roles/open" class="css-opacity-60 css-a-black-underline">No filled roles</a>
          </div>
        {% elif page_dict_html['url_status_code'] == 'archive' %}
          <div class="css-width-600 mx-auto css-bg-grey-1 css-p-50 css-br-10 text-center border shadow">
            <a href="/roles/open" class="css-opacity-60 css-a-black-underline">No archived roles</a>
          </div>
        {% endif %}
      {% elif page_dict_html['starting_route'] == 'cv' %}
        {% if page_dict_html['url_status_code'] == 'active' or page_dict_html['url_status_code'] == 'all' %}
          <div class="css-width-600 mx-auto css-bg-grey-1 css-p-50 css-br-10 text-center border shadow">
            <a href="/cv/add" class="css-opacity-60 css-a-black-underline"><i class="fa-solid fa-plus"></i> Add candidate CVs</a>
          </div>
        {% elif page_dict_html['url_status_code'] == 'archive' %}
          <div class="css-width-600 mx-auto css-bg-grey-1 css-p-50 css-br-10 text-center border shadow">
            <a href="/cv/active" class="css-opacity-60 css-a-black-underline">No archived CVs</a>
          </div>
        {% endif %}
      {% elif page_dict_html['starting_route'] == 'results' %}
        {% if page_dict_html['url_status_code'] == 'valid' and page_dict_html['queue_status'] == false %}
          <div class="css-width-600 mx-auto css-bg-grey-1 css-p-50 css-br-10 text-center border shadow">
            <a href="/ai/one-role-many-cvs" class="css-opacity-60 css-a-black-underline"><i class="fa-solid fa-plus"></i> Screen CVs</a>
          </div>
        {% elif page_dict_html['url_status_code'] == 'archive' %}
          <div class="css-width-600 mx-auto css-bg-grey-1 css-p-50 css-br-10 text-center border shadow">
            <a href="/results/all" class="css-opacity-60 css-a-black-underline">No archived results</a>
          </div>
        {% endif %}
      {% elif page_dict_html['starting_route'] == 'notifications' %}
        {% if page_dict_html['url_status_code'] == 'unread' or page_dict_html['url_status_code'] == 'read' %}
          <div class="css-width-600 mx-auto css-bg-grey-1 css-p-50 css-br-10 text-center border shadow">
            <p class="css-m-0 css-opacity-60">No notifications</p>
          </div>
        {% endif %}
      {% endif %}
    <!-- ------------------------------------- no content end ------------------------------------- -->
    <!-- ------------------------------------- yes content start ------------------------------------- -->
    {% else %}
      <!-- ------------------------------------- search bar start ------------------------------------- -->
      <input type="text" class="form-control" id="ui_search_bar" name="ui_search_bar" placeholder="Search (x{{ page_dict_html['content_total_rows'] }})">
      <!-- ------------------------------------- search bar end ------------------------------------- -->
      <!-- ------------------------------------- filtering start ------------------------------------- -->
      {% if page_dict_html['starting_route'] != 'notifications' %}
        <div class="css-display-flex css-jc-between css-mt-25">
          <a href="/{{ page_dict_html['starting_route'] }}/{{ page_dict_html['url_status_code'] }}/sort_name_a" class="css-opacity-35 css-width-100 css-border-1 text-center css-a-black-none css-br-10 css-ptb-5 css-hover-pointer-opacity-1 css-mr-10">Name <i class="fa-solid fa-caret-down"></i></a>
          <a href="/{{ page_dict_html['starting_route'] }}/{{ page_dict_html['url_status_code'] }}/sort_name_z" class="css-opacity-35 css-width-100 css-border-1 text-center css-a-black-none css-br-10 css-ptb-5 css-hover-pointer-opacity-1 css-mlr-10">Name <i class="fa-solid fa-caret-up"></i></a>
          <a href="/{{ page_dict_html['starting_route'] }}/{{ page_dict_html['url_status_code'] }}/sort_time_a" class="css-opacity-35 css-width-100 css-border-1 text-center css-a-black-none css-br-10 css-ptb-5 css-hover-pointer-opacity-1 css-mlr-10">Upload <i class="fa-solid fa-caret-down"></i></a>
          <a href="/{{ page_dict_html['starting_route'] }}/{{ page_dict_html['url_status_code'] }}/sort_time_z" class="css-opacity-35 css-width-100 css-border-1 text-center css-a-black-none css-br-10 css-ptb-5 css-hover-pointer-opacity-1 css-ml-10">Upload <i class="fa-solid fa-caret-up"></i></a>
        </div>
      {% endif %}
      <!-- ------------------------------------- filtering end ------------------------------------- -->
      <!-- ------------------------------------- divider start ------------------------------------- -->
      <div class="css-display-flex css-jc-between border-bottom css-mt-25">
        <p class="css-m-0 css-opacity-50 css-header-12">Item</p>
        <p class="css-m-0 css-opacity-50 css-header-12">Actions</p>
      </div>
      <!-- ------------------------------------- divider end ------------------------------------- -->
      <!-- ------------------------------------- rows content start ------------------------------------- -->
      {% for i in page_dict_html['content_total_rows_arr_of_dicts'] %}
        <div class="css-ptb-25 border-bottom uiSearchItem">
          <div class="css-display-flex css-jc-between">
            <div>
              {% if page_dict_html['starting_route'] == 'roles' %}
                <div class="css-display-flex css-f-direction-col">
                  <a href="/roles/view/{{ i['id'] }}" class="css-a-black-underline css-header-20">{{ i['name_display'] }}</a>
                  <a href="/roles/view/{{ i['id'] }}" class="css-a-black-underline css-mt-5 css-opacity-50 css-header-12">{{ i['created_timestamp'] }}</a>
                </div>
              {% elif page_dict_html['starting_route'] == 'cv' %}
                <div class="css-display-flex css-f-direction-col">
                  <a href="/cv/view/{{ i['id'] }}" target="_blank" class="css-a-black-underline css-header-20">{{ i['candidate_name_display'] }}</a>
                  <a href="/cv/view/{{ i['id'] }}" target="_blank" class="css-a-black-underline">{{ i['candidate_email_display'] }}</a>
                  <a href="/cv/view/{{ i['id'] }}" target="_blank" class="css-a-black-underline">{{ i['candidate_phone_display'] }}</a>
                  <a href="/cv/view/{{ i['id'] }}" target="_blank" class="css-a-black-underline css-header-12 css-mt-5">{{ i['cv_upload_name_display'] }}</a>
                  <a href="/cv/view/{{ i['id'] }}" target="_blank" class="css-a-black-underline css-opacity-50 css-header-12">{{ i['created_timestamp'] }}</a>
                </div>
              {% elif page_dict_html['starting_route'] == 'results' %}
                <div class="css-display-flex css-f-direction-col">
                  <a href="/results/view/{{ i['id'] }}" class="css-a-black-underline css-header-20">{{ i['fk_role_name_display'] }}</a>
                  <a href="/results/view/{{ i['id'] }}" class="css-a-black-underline css-mt-5 css-opacity-50 css-header-12">{{ i['created_timestamp'] }}</a>
                </div>
              {% elif page_dict_html['starting_route'] == 'notifications' %}
                <div class="css-display-flex css-f-direction-col">
                  <p class="css-m-0 css-opacity-50 css-header-12">{{ i['created_timestamp'] }}</a>
                  <p class="css-m-0 css-mt-5 css-header-15">{{ i['message'] }}</a>
                </div>
              {% endif %}
            </div>
            <div class="css-header-20 my-auto">
              <ul class="css-m-0 css-display-flex css-no-decoration">
                {% if page_dict_html['starting_route'] == 'roles' %}
                  {% if page_dict_html['url_status_code'] == 'open' %}
                    <li><a href="/ai/one-role-many-cvs" class="css-ml-10 btn btn-outline-success btn-sm css-br-10 css-plr-20 css-ptb-10">Screen CVs</a></li>
                  {% elif page_dict_html['url_status_code'] == 'all' %}
                    <li>{{ i['status'] }}</li>
                  {% endif %}
                {% elif page_dict_html['starting_route'] == 'cv' %}
                  {% if page_dict_html['url_status_code'] == 'active' %}
                    <li><a href="/ai/one-role-many-cvs" class="css-ml-10 btn btn-outline-success btn-sm css-br-10 css-plr-20 css-ptb-10">Screen CV</a></li>
                    <li><a href="/cv/ask_ai/{{ i['id'] }}" class="css-ml-10 btn btn-success btn-sm css-br-10 css-plr-20 css-ptb-10">Ask AI</a></li>
                  {% elif page_dict_html['url_status_code'] == 'all' %}
                    <li>{{ i['status'] }}</li>
                  {% endif %}
                {% elif page_dict_html['starting_route'] == 'results' %}
                  <li><a href="/results/view/{{ i['id'] }}" class="css-header-15 css-a-black-underline">{{ i['fk_cv_name_display'] }} <img src="{{ i['score_all_stars'] }}" alt="" class="css-img-size-20 css-mlr-15"> {{ i['score'] }}</a></li>
                  <li><a href="/results/view/{{ i['id'] }}" class="css-ml-10 btn btn-outline-success btn-sm css-br-10 css-plr-20">View results</a></li>
                  {% endif %}
                {% for k,v in page_dict_html['sub_table_links_dict'].items() %}
                  <div class="my-auto">
                    <li><a href="{{ v['url'] }}/{{ i['id'] }}" class="css-a-black-none css-opacity-50 css-hover-pointer-opacity-1 css-ml-30" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{ k }}"><i class="{{ v['icon'] }}"></i></a></li>
                  </div>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      {% endfor %}
      <!-- ------------------------------------- rows content end ------------------------------------- -->
    {% endif %}
    <!-- ------------------------------------- yes content end ------------------------------------- -->
  </div>
</div>
<!-- ------------------------------------- content end ------------------------------------- -->
{% endblock %}