{% extends "navbar/interior.html" %}

{% block title %}
  <title>Dashboard | CVhire</title>
  <meta name="description" content="CVhire">
  <meta name="og:description" content="CVhire">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<div class="custom-width-interior-1100 mx-auto custom-plr-50">
  <!-- ------------------------------------- title start ------------------------------------- -->
  <div class="custom-pt-25 custom-display-flex custom-jc-between custom-mb-10">
    <h2 class="custom-header-30 custom-weight-900 custom-m-0">{{ page_dict_html['dashboard_name'] }}</h2>
    <a href="{{ page_dict_html['dashboard_action_link'] }}" class="btn btn-primary custom-br-10"><i class="fa-solid fa-plus"></i> {{ page_dict_html['dashboard_action'] }}</a>
  </div>
  <!-- ------------------------------------- title end ------------------------------------- -->
  <!-- ------------------------------------- options start ------------------------------------- -->
  <div class="custom-header-15 custom-ptb-10 border-bottom">
      <ul class="custom-m-0 custom-p-0 custom-display-flex custom-no-decoration custom-jc-start">
        {% for k,v in page_dict_html['dashboard_section_links_dict'].items() %}
          {% if v in page_dict_html['navbar_link_current'] %}
            <li><a href="{{ v }}" class="custom-mr-30 custom-plr-15 custom-br-50 custom-a-black-none custom-ptb-5 custom-bg-primary">{{ k }}</a></li>
          {% else %}
            <li><a href="{{ v }}" class="custom-mr-30 custom-plr-15 custom-br-50 custom-a-black-none custom-ptb-5 custom-bg-hover-1">{{ k }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <!-- ------------------------------------- options end ------------------------------------- -->
</div>
<!-- ------------------------------------- different dashboard subpages start ------------------------------------- -->
{% block contentBodyDashboard %}
{% endblock %}
<!-- ------------------------------------- different dashboard subpages end ------------------------------------- -->
<!-- ------------------------------------- content start ------------------------------------- -->
<div class="custom-width-interior-1100 mx-auto custom-plr-50">
  <div class="custom-header-15 custom-mt-25">
    <!-- ------------------------------------- no content start ------------------------------------- -->
    {% if page_dict_html['content_total_rows'] == 0 %}
      {% if page_dict_html['starting_route'] == 'roles' %}
        {% if page_dict_html['url_status_code'] == 'open' or page_dict_html['url_status_code'] == 'all' %}
          <div class="custom-width-500 mx-auto custom-bg-grey-1 custom-p-50 custom-br-10 text-center border shadow">
            <a href="/roles/add" class="custom-opacity-60 custom-a-black-underline"><i class="fa-solid fa-plus"></i> Add your first open role</a>
          </div>
        {% elif page_dict_html['url_status_code'] == 'filled' %}
          <div class="custom-width-500 mx-auto custom-bg-grey-1 custom-p-50 custom-br-10 text-center border shadow">
            <a href="/roles/open" class="custom-opacity-60 custom-a-black-underline">No filled roles</a>
          </div>
        {% elif page_dict_html['url_status_code'] == 'archive' %}
          <div class="custom-width-500 mx-auto custom-bg-grey-1 custom-p-50 custom-br-10 text-center border shadow">
            <a href="/roles/open" class="custom-opacity-60 custom-a-black-underline">No archived roles</a>
          </div>
        {% endif %}
      {% elif page_dict_html['starting_route'] == 'cv' %}
        {% if page_dict_html['url_status_code'] == 'active' or page_dict_html['url_status_code'] == 'all' %}
          <div class="custom-width-500 mx-auto custom-bg-grey-1 custom-p-50 custom-br-10 text-center border shadow">
            <a href="/cv/add" class="custom-opacity-60 custom-a-black-underline"><i class="fa-solid fa-plus"></i> Add candidate CVs</a>
          </div>
        {% elif page_dict_html['url_status_code'] == 'archive' %}
          <div class="custom-width-500 mx-auto custom-bg-grey-1 custom-p-50 custom-br-10 text-center border shadow">
            <a href="/cv/active" class="custom-opacity-60 custom-a-black-underline">No archived CVs</a>
          </div>
        {% endif %}
      {% endif %}
    <!-- ------------------------------------- no content end ------------------------------------- -->
    <!-- ------------------------------------- yes content start ------------------------------------- -->
    {% else %}
      <!-- ------------------------------------- search bar start ------------------------------------- -->
      <input type="text" class="form-control" id="ui_search_bar" name="ui_search_bar" placeholder="Search (x{{ page_dict_html['content_total_rows'] }})">
      <!-- ------------------------------------- search bar end ------------------------------------- -->
      <div class="custom-display-flex custom-jc-between custom-mt-25">
        <a href="/{{ page_dict_html['starting_route'] }}/{{ page_dict_html['url_status_code'] }}/sort_name_a" class="custom-opacity-35 custom-width-100 custom-border-1 text-center custom-a-black-none custom-br-10 custom-ptb-5 custom-hover-pointer-opacity-1 custom-mr-10">Name <i class="fa-solid fa-caret-down"></i></a>
        <a href="/{{ page_dict_html['starting_route'] }}/{{ page_dict_html['url_status_code'] }}/sort_name_z" class="custom-opacity-35 custom-width-100 custom-border-1 text-center custom-a-black-none custom-br-10 custom-ptb-5 custom-hover-pointer-opacity-1 custom-mlr-10">Name <i class="fa-solid fa-caret-up"></i></a>
        <a href="/{{ page_dict_html['starting_route'] }}/{{ page_dict_html['url_status_code'] }}/sort_time_a" class="custom-opacity-35 custom-width-100 custom-border-1 text-center custom-a-black-none custom-br-10 custom-ptb-5 custom-hover-pointer-opacity-1 custom-mlr-10">Upload <i class="fa-solid fa-caret-down"></i></a>
        <a href="/{{ page_dict_html['starting_route'] }}/{{ page_dict_html['url_status_code'] }}/sort_time_z" class="custom-opacity-35 custom-width-100 custom-border-1 text-center custom-a-black-none custom-br-10 custom-ptb-5 custom-hover-pointer-opacity-1 custom-ml-10">Upload <i class="fa-solid fa-caret-up"></i></a>
      </div>
      <!-- ------------------------------------- divider start ------------------------------------- -->
      <div class="custom-display-flex custom-jc-between border-bottom custom-mt-25">
        <p class="custom-m-0 custom-opacity-50 custom-header-12">Item</p>
        <p class="custom-m-0 custom-opacity-50 custom-header-12">Actions</p>
      </div>
      <!-- ------------------------------------- divider end ------------------------------------- -->
      <!-- ------------------------------------- rows content start ------------------------------------- -->
      {% for i in page_dict_html['content_total_rows_arr_of_dicts'] %}
        <div class="custom-ptb-25 border-bottom uiSearchItem">
          <div class="custom-display-flex custom-jc-between">
            <div>
              {% if page_dict_html['starting_route'] == 'roles' %}
                <div class="custom-display-flex custom-f-direction-col">
                  <a href="/roles/view/{{ i['id'] }}" class="custom-a-black-underline">{{ i['name_display'] }}</a>
                  <a href="/roles/view/{{ i['id'] }}" class="custom-a-black-underline custom-mt-5 custom-opacity-50 custom-header-12">{{ i['created_timestamp'] }}</a>
                </div>
              {% elif page_dict_html['starting_route'] == 'cv' %}
                <div class="custom-display-flex custom-f-direction-col">
                  <a href="/cv/view/{{ i['id'] }}" target="_blank" class="custom-a-black-underline custom-header-20">{{ i['candidate_name_display'] }}</a>
                  <a href="/cv/view/{{ i['id'] }}" target="_blank" class="custom-a-black-underline">{{ i['candidate_email_display'] }}</a>
                  <a href="/cv/view/{{ i['id'] }}" target="_blank" class="custom-a-black-underline">{{ i['candidate_phone_display'] }}</a>
                  <a href="/cv/view/{{ i['id'] }}" target="_blank" class="custom-a-black-underline custom-header-12 custom-mt-5">{{ i['cv_upload_name_display'] }}</a>
                  <a href="/cv/view/{{ i['id'] }}" target="_blank" class="custom-a-black-underline custom-opacity-50 custom-header-12">{{ i['created_timestamp'] }}</a>
                </div>
              {% endif %}
            </div>
            <div class="custom-header-20 my-auto">
              <ul class="custom-m-0 custom-display-flex custom-no-decoration">
                {% if page_dict_html['starting_route'] == 'roles' %}
                  <li><a href="/ai/one-role-many-cvs" class="custom-ml-10 btn btn-outline-success btn-sm custom-br-10 custom-plr-20">Screen CVs</a></li>
                {% elif page_dict_html['starting_route'] == 'cv' %}
                  <li><a href="/ai/one-role-many-cvs" class="custom-ml-10 btn btn-outline-success btn-sm custom-br-10 custom-plr-20">Screen CV</a></li>
                {% endif %}
                {% for k,v in page_dict_html['sub_table_links_dict'].items() %}
                  <li><a href="{{ v['url'] }}/{{ i['id'] }}" class="custom-a-black-none custom-opacity-50 custom-hover-pointer-opacity-1 custom-ml-30" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{ k }}"><i class="{{ v['icon'] }}"></i></a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      {% endfor %}
      <!-- ------------------------------------- rows content end ------------------------------------- -->
    {% endif %}
    <!-- ------------------------------------- yes content end ------------------------------------- -->
  </div>
</div>
<!-- ------------------------------------- content end ------------------------------------- -->
{% endblock %}