{% extends "navbar/exterior.html" %}

{% block title %}
  <title>Admin | CVhire</title>
  <meta name="description" content="CVhire">
  <meta name="og:description" content="CVhire">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- alert start ----------------------------------- -->
{% if page_dict_html['alert_message_dict']['message'] != '' %}
<div class="alert alert-{{ page_dict_html['alert_message_dict']['type'] }} mx-auto text-center container-fluid" role="alert">
  {{ page_dict_html['alert_message_dict']['message'] }}
</div>
{% endif %}
<!-- ----------------------------------- alert end ----------------------------------- -->
<div class="container">
  <div class="css-pt-25 css-display-flex css-jc-between">
    <h2>Admin</h2>
    <div>
      <a href="/ai/one-role-many-cvs" class="btn btn-outline-success btn-lg">Dashboard</a>
    </div>
  </div>
  <div>
    <a href="/admin/control" class="btn btn-danger css-m-25">Control</a>
    <a href="/admin/scrape" class="btn btn-primary css-m-25">Scrape</a>
    <a href="/admin/email" class="btn btn-success css-m-25">Email</a>
  </div>
</div>
{% endblock %}