{% extends "navbar/interior.html" %}

{% block title %}
  <title>Thank you | CVhire</title>
  <meta name="description" content="CVhire">
  <meta name="og:description" content="CVhire">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- ------------------------------------- google tag manager conversion tracking start ------------------------------------- -->
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WRFC942M"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- ------------------------------------- google tag manager conversion tracking end ------------------------------------- -->

<!-- ------------------------------------- content start ------------------------------------- -->
<div class="css-width-600 mx-auto">
  {% if page_dict_html['conversion_type'] == 'signup' %}
    <!-- ------------------------------------- view start ------------------------------------- -->  
    <div class="css-ptb-50 text-center">
      <h2 class="css-m-0 css-header-30 css-mb-10">Thank you! Account verified.</h2>
      <div class="css-mt-25">
        <a href="/ai/one-role-many-cvs" class="btn btn-primary btn-lg css-width-100">Home</a>
      </div>
    </div>
    <!-- ------------------------------------- view end ------------------------------------- -->
  {% elif page_dict_html['conversion_type'] == 'subscription' %}
    <!-- ------------------------------------- google ads conversion tracking start ------------------------------------- -->
    <!-- Google tag (gtag.js) event -->
    <script>
      gtag('event', 'manual_conversion_PURCHASE', {
        // <event_parameters>
      });
    </script>
    <!-- ------------------------------------- google ads conversion tracking end ------------------------------------- -->
    <!-- ------------------------------------- view start ------------------------------------- -->  
    <div class="css-ptb-50 text-center">
      <h2 class="css-m-0 css-header-30 css-mb-10">Thank you! Subscription successful.</h2>
      <div class="css-mt-25">
        <a href="/ai/one-role-many-cvs" class="btn btn-primary btn-lg css-width-100">Home</a>
      </div>
    </div>
    <!-- ------------------------------------- view end ------------------------------------- -->
  {% endif %}
</div>  
<!-- ------------------------------------- content end ------------------------------------- -->
{% endblock %}