{% extends "navbar/interior.html" %}

{% block title %}
  <title>Thank you | CVhire</title>
  <meta name="description" content="CVhire">
  <meta name="og:description" content="CVhire">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- ------------------------------------- google ads conversion tracking start ------------------------------------- -->
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WRFC942M"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- ------------------------------------- google ads conversion tracking end ------------------------------------- -->

<!-- ------------------------------------- view start ------------------------------------- -->
<div class="custom-ptb-50 text-center">
  <h2 class="custom-m-0 custom-header-30 custom-mb-10">Thank you! Account verified.</h2>
  <div class="custom-mt-25">
    <a href="/ai/one-role-many-cvs" class="btn btn-primary btn-lg custom-width-100">Home</a>
  </div>
</div>
<!-- ------------------------------------- view end ------------------------------------- -->
{% endblock %}